Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: src/oss-tests/oss-tests.csproj
  - stage: Build
    dependsOn: Test
    jobs:
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/nuget-pipelines/oss-characteristics.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-characteristics
        projectPath: oss-characteristics/oss-characteristics.csproj
  ...

Pipelines/nuget-pipelines/oss-detect-backdoor.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-detect-backdoor
        projectPath: oss-detect-backdoor/oss-detect-backdoor.csproj
  ...

Pipelines/nuget-pipelines/oss-diff.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-diff
        projectPath: oss-diff/oss-diff.csproj
        projectName: oss-diff
  ...

Pipelines/nuget-pipelines/oss-find-squats.yml:
  jobs:
  - template: ../templates/nuget-build-job.yml
    parameters:
      jobName: pack_oss_find_squats
      projectPath: src/oss-find-squats/oss-find-squats.csproj
      projectName: oss-find-squats
      publishToNuget: true

Pipelines/nuget-pipelines/oss-health.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-health
        projectPath: oss-health/oss-health.csproj
        projectName: oss-health
  ...

Pipelines/nuget-pipelines/oss-metadata.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-metadata
        projectPath: oss-metadata/oss-metadata.csproj
        projectName: oss-metadata
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Migrate Pipeline Part 2 (#464)
  Pipelines/ossgadget-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Begin migration to release pipeline templates
  Pipelines/core-pipeline.yml
  Pipelines/templates/check-changes.yml
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Begin migration to release pipeline templates (#468)
  Pipelines/core-pipeline.yml
  Pipelines/templates/check-changes.yml
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Update version.json
  version.json
Due: none

Cargo project manager should retry 500 errors.
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Switch to polly retry
  src/Shared/PackageManagers/CargoProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Cargo project manager retry 500 errors. (#471)
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update CreateProjectManager to take optional timeout parameter
  src/Shared/Contracts/IProjectManagerFactory.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/CondaProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/TypedManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/ProjectManagerTests/CondaProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add unit test
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add test to simulate delay
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Address PR comments: reduce delay time in test
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/core-pipeline.yml

WIP, refactor for OssDownload
  src/OSSGadget.sln
  src/Shared.CLI/ErrorCode.cs
  src/Shared.CLI/Helpers/CliHelpers.cs
  src/Shared.CLI/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared.CLI/Helpers/PackageDownloader.cs
  src/Shared.CLI/OSSGadget.cs
  src/Shared.CLI/Shared.CLI.csproj
  src/oss-gadget-cli/DownloadTool.cs
  src/oss-gadget-cli/Options.cs
  src/oss-gadget-cli/Program.cs
  src/oss-gadget-cli/oss-gadget-cli.csproj
Due: Pipelines/core-pipeline.yml

Add optional timeouts for project managers (#475)
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/Contracts/IProjectManagerFactory.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/CondaProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/TypedManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/ProjectManagerTests/CondaProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Better refactor of download
  src/Shared.CLI/BaseTool.cs
  src/Shared.CLI/Options/BaseToolOptions.cs
  src/Shared.CLI/Options/DownloadToolOptions.cs
  src/Shared.CLI/Tools/DownloadTool.cs
  src/oss-gadget-cli/Program.cs
Due: Pipelines/core-pipeline.yml

Complete CLI References for refactored classes.
  src/Shared.CLI/BaseTool.cs
  src/Shared.CLI/Tools/CharacteristicTool.cs
  src/Shared.CLI/Tools/DiffTool/Diff.cs
  src/Shared.CLI/Tools/DiffTool/DiffTool.cs
  src/Shared.CLI/Tools/DownloadTool.cs
  src/Shared.CLI/Tools/FindDomainSquatsTool.cs
  src/Shared.CLI/Tools/FindSourceTool.cs
  src/Shared.CLI/Tools/FreshTool.cs
  src/Shared.CLI/Tools/HealthTool/HealthTool.cs
  src/Shared.CLI/Tools/ReproducibleTool/ReproducibleTool.cs
  src/Shared.CLI/Tools/RiskCalculatorTool.cs
  src/oss-gadget-cli/Program.cs
Due: Pipelines/core-pipeline.yml

Refactor Defog
  src/Shared.CLI/Options/DefogToolOptions.cs
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared.CLI/Tools/DefoggerTool.cs
Due: Pipelines/core-pipeline.yml

Detect Backdoor Refactor
  src/Shared.CLI/Options/DetectBackdoorToolOptions.cs
  src/Shared.CLI/Resources/BackdoorRules/backdoor_signatures.json
  src/Shared.CLI/Resources/BackdoorRules/code_execution.json
  src/Shared.CLI/Resources/BackdoorRules/crypto_currency.json
  src/Shared.CLI/Resources/BackdoorRules/data_exfiltration.json
  src/Shared.CLI/Resources/BackdoorRules/dependency_confusion.json
  src/Shared.CLI/Resources/BackdoorRules/ioc.json
  src/Shared.CLI/Resources/BackdoorRules/lolbas.json
  src/Shared.CLI/Resources/BackdoorRules/obfuscation.json
  src/Shared.CLI/Resources/BackdoorRules/pastebin.json
  src/Shared.CLI/Resources/BackdoorRules/reverse_shell.json
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared.CLI/Tools/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml

Refactor Detect Cryptography Tool
  src/Shared.CLI/Options/DetectCryptographyToolOptions.cs
  src/Shared.CLI/Resources/CryptographyRules/implementation-asymmetric.json
  src/Shared.CLI/Resources/CryptographyRules/implementation-block-cipher.json
  src/Shared.CLI/Resources/CryptographyRules/implementation-crypto-generic.json
  src/Shared.CLI/Resources/CryptographyRules/implementation-hash.json
  src/Shared.CLI/Resources/CryptographyRules/implementation-prng.json
  src/Shared.CLI/Resources/CryptographyRules/implementation-signature.json
  src/Shared.CLI/Resources/CryptographyRules/implementation-stream-cipher.json
  src/Shared.CLI/Resources/CryptographyRules/implementation-symmetric.json
  src/Shared.CLI/Resources/CryptographyRules/reference-common.json
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared.CLI/Tools/DetectCryptographyTool/DetectCryptographyTool.cs
  src/Shared.CLI/Tools/DetectCryptographyTool/Issue.cs
Due: Pipelines/core-pipeline.yml

Resolve issue conflict
  src/Shared.CLI/Tools/HealthTool/GitHubHealthAlgorithm.cs
Due: Pipelines/core-pipeline.yml

Refactor Metadata tool
  src/Shared.CLI/Options/MetadataToolOptions.cs
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared.CLI/Tools/FindSquatsTool.cs
  src/Shared.CLI/Tools/MetadataTool.cs
Due: Pipelines/core-pipeline.yml

Refactor tests to point to new call locations
  src/oss-tests/DefoggerTests.cs
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/ReproducibleTests.cs
Due: Pipelines/core-pipeline.yml

Update dependencies
  Directory.Build.props
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
  src/oss-gadget-cli/oss-gadget-cli.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove Broken GitHub CodeQL Action
  .github/workflows/codeql-analysis.yml
Due: none

Update .gitignore
  .gitignore
Due: none

Change User.Id model field to Long to match OctoKit
  src/Shared/Model/PackageMetadata.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove redundant package reference
  src/Shared.CLI/Shared.CLI.csproj
Due: Pipelines/core-pipeline.yml

Update version to reflect PR has changes with SemVer impact
  version.json
Due: none

Feedback on Cli structure
  src/oss-gadget-cli/Program.cs
Due: Pipelines/core-pipeline.yml

Rename program.cs to match class name
  src/oss-gadget-cli/OssGadgetCli.cs
Due: Pipelines/core-pipeline.yml

Improve helptext strings for verbs
  src/Shared.CLI/Options/CharacteristicToolOptions.cs
  src/Shared.CLI/Options/DefogToolOptions.cs
  src/Shared.CLI/Options/DetectBackdoorToolOptions.cs
  src/Shared.CLI/Options/DetectCryptographyToolOptions.cs
  src/Shared.CLI/Options/DiffToolOptions.cs
  src/Shared.CLI/Options/DownloadToolOptions.cs
  src/Shared.CLI/Options/FindDomainSquatsToolOptions.cs
  src/Shared.CLI/Options/FindSourceToolOptions.cs
  src/Shared.CLI/Options/FindSquatsToolOptions.cs
  src/Shared.CLI/Options/FreshToolOptions.cs
  src/Shared.CLI/Options/HealthToolOptions.cs
  src/Shared.CLI/Options/MetadataToolOptions.cs
  src/Shared.CLI/Options/ReproducibleToolOptions.cs
  src/Shared.CLI/Options/RiskCalculatorToolOptions.cs
Due: Pipelines/core-pipeline.yml

update release pipeline for new structure
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

add step to nuget package cli
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Configure CsProj for tool build
  src/oss-gadget-cli/OssGadgetCli.cs
  src/oss-gadget-cli/icon-128.png
  src/oss-gadget-cli/oss-gadget-cli.csproj
Due: Pipelines/core-pipeline.yml

remove bad repo reference
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

remove bad repo reference (#478)
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

specify project rather than sln for nuget-build-job template
  Pipelines/core-pipeline.yml
  src/oss-gadget-cli/oss-gadget-cli.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Pipelines, src
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
