Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run OSS Gadget Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-defog.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-backdoor.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-cryptography.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-download.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-find-source.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-health.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-risk-calculator.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/recursiveextractor-pipeline.yml:
  name: RecursiveExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run RecursiveExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
  ...

Fix nullability
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix nullable
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml

Redo nullable annotations
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

More nullable fixes.
  src/Shared/Helpers/OutputBuilder/IOutputBuilder.cs
  src/Shared/OSSGadget.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

More nullable fixes.
  src/Shared/OSSGadget.cs
  src/oss-find-source/FindSourceTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

more nullable fixes
  src/Shared/Helpers/OutputBuilder/OutputBuilderFactory.cs
  src/Shared/OSSGadget.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

push nullable changes
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

review comments
  src/Shared/Helpers/OutputBuilder/IOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

review changes
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthMetrics.cs
  src/oss-health/HealthTool.cs
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

review suggestions
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix nullable SetOutput
  src/Shared/OSSGadget.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update DetectCryptographyTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Update OSSGadget.cs
  src/Shared/OSSGadget.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

review
  src/Shared/OSSGadget.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

add more help texts
  src/Shared/Helpers/OutputBuilder/IOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Refactoring and cmd parsing changes (#118)
  src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  src/Shared/Helpers/OutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/IOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/OutputBuilderFactory.cs
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
  src/Shared/OSSGadget.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/DefoggerTool.cs
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/HealthMetrics.cs
  src/oss-health/HealthTool.cs
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/RiskCalculatorTool.cs
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix the full path for the base entry to not have a second case of the filename.
  src/RecursiveExtractor/Extractor.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Fix the full path for the base entry to not have a second case of the filename. (#120)
  src/RecursiveExtractor/Extractor.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Enable zbxl.zip (#76)
  Pipelines/recursiveextractor-pipeline.yml
  src/RecursiveExtractor.Tests/ExtractorTests.cs
  src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
Due: none

Update pipelines.
  Pipelines/recursiveextractor-pipeline.yml
Due: none

Update version.json
  version.json
Due: none

s/master/main
  Pipelines/core-pipeline.yml
  SUPPORT.md
Due: none

Add CodeMaid config
  CodeMaid.config
Due: none

move oss-risk-calculator to refactored base classes
  src/Shared/OSSGadget.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update Pipeline for Templates
  Pipelines/build-oss-component-mac-linux.yml
  Pipelines/build-oss-component-windows-nuget.yml
  Pipelines/core-pipeline.yml
  Pipelines/recursiveextractor-pipeline.yml
  Pipelines/templates/dotnet-publish-nix-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
  src/OSSGadget.sln
Due: none

Parameter Typo Fix
  Pipelines/core-pipeline.yml
  Pipelines/recursiveextractor-pipeline.yml
Due: none

More Parameter Fixes
  Pipelines/templates/dotnet-test-job.yml
Due: none

Fix Spacing Typo
  Pipelines/templates/sdl-job.yml
Due: none

Try different bash syntax
  Pipelines/templates/dotnet-publish-nix-job.yml
Due: none

Update dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Allow errors on experimental tasks
  Pipelines/templates/sdl-job.yml
Due: none

PoliCheck update
  Pipelines/templates/sdl-job.yml
Due: none

Update dotnet-publish-nix-job.yml
  Pipelines/templates/dotnet-publish-nix-job.yml
Due: none

Update sdl-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Path conditions:
  Pipelines/core-pipeline.yml: any of: src/oss*, src/Shared
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
