Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src/oss*, src/Shared
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared

Update multiextractor-pipeline.yml for Azure Pipelines
  Pipelines/multiextractor-pipeline.yml
Due: none

Update NuGet.Config
  src/NuGet.Config
Due: none

Respond to comments.
  src/Shared/Helpers/PackageDownloader.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Ensure WebClient isn't null
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix more null references.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-download/DownloadTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update Shared.csproj
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update oss-tests.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

moar debug
  src/MultiExtractor.Tests/MultiExtractor.Tests.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Remove unneeded ?
  src/Shared/PackageManagers/GitHubProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update MultiExtractor.Tests.csproj
  src/MultiExtractor.Tests/MultiExtractor.Tests.csproj
Due: none

debugalot
  src/MultiExtractor.Tests/MultiExtractor.Tests.csproj
  src/MultiExtractor/NuGet.Config
Due: Pipelines/multiextractor-pipeline.yml

debuggify
  src/NuGet.Config
Due: none

Create NuGet.Config
  src/MultiExtractor.Tests/NuGet.Config
Due: none

debugubed
  src/MultiExtractor.Tests/NuGet.Config
  src/MultiExtractor/NuGet.Config
Due: Pipelines/multiextractor-pipeline.yml

Update DiscUtils to MyGet version (#100)
  Pipelines/multiextractor-pipeline.yml
  src/MultiExtractor.Tests/MultiExtractor.Tests.csproj
  src/MultiExtractor/MultiExtractor.csproj
  src/MultiExtractor/NuGet.Config
Due: Pipelines/multiextractor-pipeline.yml

Respond to comments.
  src/Shared/CommonInitialization.cs
  src/Shared/Helpers/OutputBuilder.cs
  src/Shared/OSSGadget.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-download/DownloadTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/GitHubHealthAlgorithm.cs
  src/oss-health/HealthMetrics.cs
  src/oss-health/HealthTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

More comment responses
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Create recursiveextractor-pipeline.yml
  Pipelines/recursiveextractor-pipeline.yml
Due: none

Update BaseProjectManager.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Add --format and --output-file flags to oss-characterstics
  .gitignore
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-find-source/FindSourceTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-find-source.yml

Fix tools not inheriting from OSSGadget
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-find-source/FindSourceTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-find-source.yml

Fix typo
  src/oss-tests/DetectCryptographyTests.cs
Due: Pipelines/core-pipeline.yml

nit
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

default output be text
  src/Shared/Helpers/OutputBuilder.cs
  src/oss-find-source/FindSourceTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Move NuGet.Config to src/
  Pipelines/recursiveextractor-pipeline.yml
  src/NuGet.Config
Due: none

Update multiextractor-pipeline.yml
  Pipelines/multiextractor-pipeline.yml
Due: none
