Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: src/oss-tests/oss-tests.csproj
  - stage: SDL
    dependsOn: Test
    jobs:
    - template: templates/sdl-job.yml
      parameters:
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-defog.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-backdoor.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-cryptography.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-download.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-find-source.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-health.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-risk-calculator.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/recursiveextractor-pipeline.yml:
  name: RecursiveExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        dotnetVersion: 3.1.x
        projectPath: src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  - stage: SDL
    dependsOn: Test
  ...

Response to comments
  src/oss-defog/DefoggerTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml

Pascal case
  src/oss-defog/DefoggerTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml

Update DefoggerTool.cs
  src/oss-defog/DefoggerTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml

by default don't report on blobs
  src/oss-defog/DefoggerTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml

Update DefoggerTests.cs
  src/oss-tests/DefoggerTests.cs
Due: Pipelines/core-pipeline.yml

Added custom length regexes
  src/oss-defog/DefoggerTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml

Test fixes
  src/oss-defog/DefoggerTool.cs
  src/oss-tests/DefoggerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml

Test updates
  src/oss-tests/DefoggerTests.cs
Due: Pipelines/core-pipeline.yml

Fix tests and recursion for hex
  src/oss-defog/DefoggerTool.cs
  src/oss-tests/DefoggerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml

Adds Binary and Compressed detection (#185)
  Pipelines/templates/dotnet-test-job.yml
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/DefoggerTool.cs
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/DefoggerTests.cs
  src/oss-tests/TestData/Base64Zip.zip
  src/oss-tests/TestData/oss-defog.dll
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixes #187 and #186.
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-metadata/oss-metadata.csproj
  src/oss-tests/DownloadTests.cs
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixes #187 and #186. (#188)
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-metadata/oss-metadata.csproj
  src/oss-tests/DownloadTests.cs
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve data exfiltration detection.
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfilatration.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

find squats initial commit
  src/OSSGadget.sln
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
  src/oss-find-squats/NpmSuggestion.cs
  src/oss-find-squats/oss-find-squats.csproj
Due: Pipelines/core-pipeline.yml

Update FindSquatsTool.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Working
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
  src/oss-find-squats/NpmSuggestion.cs
  src/oss-find-squats/oss-find-squats.csproj
Due: Pipelines/core-pipeline.yml

Add Nuget Feed Support
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
  src/oss-find-squats/NpmSuggestion.cs
Due: Pipelines/core-pipeline.yml

Rewrite to leverage package manager libraries
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Delete NpmSuggestion.cs
  src/oss-find-squats/NpmSuggestion.cs
Due: Pipelines/core-pipeline.yml

Replace all Warn and Error in the Shared library with Debug logging statements
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/Model/Repository.cs
  src/Shared/OSSGadget.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix args
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Make StringOutputBuilder public
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change error logging in sarifoutputbuilder
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Rethrow from EnumerateVersions
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix break.
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add tests
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-tests/DefoggerTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix Location output
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Fix nuget exception
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Gfs/oss squat (#191)
  src/OSSGadget.sln
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/Model/Repository.cs
  src/Shared/OSSGadget.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-tests/DefoggerTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix #193
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Fix #192
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Fixes 193 and 192 (#194)
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
