Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: src/oss-tests/oss-tests.csproj
  - stage: SDL
    dependsOn: Test
    jobs:
    - template: templates/sdl-job.yml
      parameters:
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-defog.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-backdoor.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-cryptography.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-download.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-find-source.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-health.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-risk-calculator.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/recursiveextractor-pipeline.yml:
  name: RecursiveExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        dotnetVersion: 3.1.x
        projectPath: src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  - stage: SDL
    dependsOn: Test
  ...

Update dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: none

Update dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: none

Disable Multithreading App Inspector
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Publish single file.
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add runtime args for dotnet test
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-test-job.yml
Due: none

Disable Multithreading App Inspector (#219)
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Update project properties
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add argument parameters to pipeline build/publish templates
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Try self-contained single-file on Shared
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Try self-contained Shared
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove single-file property
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update code sign patterns
  Pipelines/core-pipeline.yml
Due: none

Try archiving *nix with tar
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: none

Update sign/release job to reference tar archives
  Pipelines/core-pipeline.yml
Due: none

Fix self-contained releases
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update Pipeline Order
  Pipelines/core-pipeline.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update sdl-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Accommodate BinSkim's picky preferences
  Pipelines/templates/sdl-job.yml
Due: none

Remove redundant AM scan
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Try to simplify BinSkim search patterns
  Pipelines/templates/sdl-job.yml
Due: none

Standardize build templates and set previews to false
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Simplify Pipeline Templates
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update Pipeline Tasks and Organization (#220)
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update Shared.csproj
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Convert all file paths to forward slashes
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Fix typo (seprator -> seperator)
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Fix _swapOrderOfLetters to not lose a letter
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Fix few more typos (Homoglphs -> Homoglyphs, chanaged -> changed)
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Fix _swapOrderOfLetters to not lose a letter (#223)
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Fix typo (seprator -> seperator) (#221)
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Fix few more typos (Homoglphs -> Homoglyphs, chanaged -> changed) (#224)
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Add backdoor indicators based on recent research.
  README.md
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
  src/oss-detect-backdoor/Resources/BackdoorRules/reverse_shell.json
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml

Switch GitHub downloader to .zip archives instead of a clone.
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/Shared.csproj
  src/Shared/Utilities/Utilities.cs
  src/Shared/Utilities/VersionComparer.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix download tests, removed self-contained .csproj attr, version compare.
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/Shared.csproj
  src/Shared/Utilities/Utilities.cs
  src/Shared/Utilities/VersionComparer.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/Resources/CryptographyRules/reference-common.json
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/SharedTests.cs
  src/oss-tests/VersionTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve warning messages.
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove dependency on libgit2sharp.
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/Shared.csproj
  src/Shared/Utilities/VersionComparer.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add banner to each tool, fix nullability warnings.
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-diff/DiffTool.cs
  src/oss-download/DownloadTool.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-health/HealthTool.cs
  src/oss-metadata/MetadataTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
  src/oss-tests/DetectCryptographyTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
