Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: src/oss-tests/oss-tests.csproj
  - stage: SDL
    dependsOn: Test
    jobs:
    - template: templates/sdl-job.yml
      parameters:
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-defog.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-backdoor.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-cryptography.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-download.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-find-source.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-health.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-risk-calculator.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/recursiveextractor-pipeline.yml:
  name: RecursiveExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        dotnetVersion: 3.1.x
        projectPath: src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  - stage: SDL
    dependsOn: Test
  ...

Add oss-characteristics publish pipeline test
  Pipelines/nuget-pipelines/oss-characteristics.yml
Due: none

Update oss-characteristics.yml
  Pipelines/nuget-pipelines/oss-characteristics.yml
Due: none

Trigger pipeline churn.
  Pipelines/nuget-pipelines/oss-characteristics.yml
Due: none

Change the first candidate to find squats instead of characteristics
  Pipelines/nuget-pipelines/oss-characteristics.yml
  Pipelines/nuget-pipelines/oss-find-squats.yml
Due: none

Update Shared.csproj
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update oss-defog.csproj
  src/oss-defog/oss-defog.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml

Update oss-find-source.csproj
  src/oss-find-source/oss-find-source.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-find-source.yml

Adds icons
  src/oss-characteristics/icon-128.png
  src/oss-defog/icon-128.png
  src/oss-detect-backdoor/icon-128.png
  src/oss-detect-cryptography/icon-128.png
  src/oss-diff/icon-128.png
  src/oss-download/icon-128.png
  src/oss-find-domain-squats/icon-128.png
  src/oss-find-source/icon-128.png
  src/oss-find-squats/icon-128.png
  src/oss-health/icon-128.png
  src/oss-metadata/icon-128.png
  src/oss-reproducible/icon-128.png
  src/oss-risk-calculator/icon-128.png
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Publish OSS Gadget to Nuget (#267)
  Pipelines/nuget-pipelines/oss-find-squats.yml
  src/Shared/Shared.csproj
  src/oss-characteristics/icon-128.png
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/icon-128.png
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/icon-128.png
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/icon-128.png
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/icon-128.png
  src/oss-diff/oss-diff.csproj
  src/oss-download/icon-128.png
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/icon-128.png
  src/oss-find-source/icon-128.png
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/icon-128.png
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/icon-128.png
  src/oss-health/oss-health.csproj
  src/oss-metadata/icon-128.png
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/icon-128.png
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/icon-128.png
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

add missing stages tag
  Pipelines/nuget-pipelines/oss-find-squats.yml
Due: none

Update oss-find-squats.yml
  Pipelines/nuget-pipelines/oss-find-squats.yml
Due: none

Trigger on tag instead of on pipeline.
  Pipelines/nuget-pipelines/oss-find-squats.yml
Due: none

Update oss-find-squats.yml (#268)
  Pipelines/nuget-pipelines/oss-find-squats.yml
Due: none

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: none

Adds pipelines for publishing the rest of the CLI tools.
  Pipelines/nuget-pipelines/oss-characteristics.yml
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml
  Pipelines/nuget-pipelines/oss-diff.yml
  Pipelines/nuget-pipelines/oss-download.yml
  Pipelines/nuget-pipelines/oss-find-source.yml
  Pipelines/nuget-pipelines/oss-health.yml
  Pipelines/nuget-pipelines/oss-metadata.yml
  Pipelines/nuget-pipelines/oss-reproducible.yml
  Pipelines/nuget-pipelines/oss-risk-calculator.yml
Due: none

Update nuget-build-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

Update oss-find-squats.csproj
  src/oss-find-squats/oss-find-squats.csproj
Due: Pipelines/core-pipeline.yml

Fix icon and license paths
  src/Shared/Shared.csproj
  src/oss-characteristics/icon-128.png
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/icon-128.png
  src/oss-detect-backdoor/icon-128.png
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/icon-128.png
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/icon-128.png
  src/oss-diff/oss-diff.csproj
  src/oss-download/icon-128.png
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/icon-128.png
  src/oss-find-source/icon-128.png
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/icon-128.png
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/icon-128.png
  src/oss-health/oss-health.csproj
  src/oss-metadata/icon-128.png
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/icon-128.png
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/icon-128.png
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix paths again
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix more
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Publish Oss-Find-Squats on Nuget
  Pipelines/nuget-pipelines/oss-find-squats.yml
  Pipelines/templates/nuget-build-job.yml
  src/Shared/Shared.csproj
  src/oss-characteristics/icon-128.png
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/icon-128.png
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/icon-128.png
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/icon-128.png
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/icon-128.png
  src/oss-diff/oss-diff.csproj
  src/oss-download/icon-128.png
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/icon-128.png
  src/oss-find-source/icon-128.png
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/icon-128.png
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/icon-128.png
  src/oss-health/oss-health.csproj
  src/oss-metadata/icon-128.png
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/icon-128.png
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/icon-128.png
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix publication
  Pipelines/nuget-pipelines/oss-find-squats.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
