Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src/oss*, src/Shared
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Update core-pipeline.yml for Azure Pipelines
  Pipelines/core-pipeline.yml
Due: none

Add Stream Support to Recursive Extractor (#137)
  src/RecursiveExtractor/RecursiveExtractor.Tests/ExtractorTests.cs
  src/RecursiveExtractor/RecursiveExtractor/Extractor.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Fix raw file extraction
  src/RecursiveExtractor/RecursiveExtractor.Tests/ExtractorTests.cs
  src/RecursiveExtractor/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  src/RecursiveExtractor/RecursiveExtractor.Tests/TestData/TextFile.md
  src/RecursiveExtractor/RecursiveExtractor/Extractor.cs
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Fix raw file extraction (#138)
  src/RecursiveExtractor/RecursiveExtractor.Tests/ExtractorTests.cs
  src/RecursiveExtractor/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  src/RecursiveExtractor/RecursiveExtractor.Tests/TestData/TextFile.md
  src/RecursiveExtractor/RecursiveExtractor/Extractor.cs
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

missed fixes
  src/RecursiveExtractor/RecursiveExtractor/Extractor.cs
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Gfs/fix raw extraction (#139)
  src/RecursiveExtractor/RecursiveExtractor/Extractor.cs
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Support Asynchronous Streams
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Support Asynchronous Streams (#140)
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Fix Async Processing
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Fix Async Processing (#141)
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Fix for Valid URI paths
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Fix characteristic tag output.
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Support windows paths better
  src/RecursiveExtractor/RecursiveExtractor/FileEntry.cs
Due: Pipelines/recursiveextractor-pipeline.yml

Delete recursiveextractor-pipeline.yml
  Pipelines/recursiveextractor-pipeline.yml
Due: none

Create .editorconfig
  .editorconfig
Due: none

Create .editorconfig (#144)
  .editorconfig
Due: none

Comments
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Update all dependencies (except DevSkim), minor tweaks.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/GitHubHealthAlgorithm.cs
  src/oss-health/HealthTool.cs
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/RiskCalculatorTool.cs
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/DownloadTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Notice file generation - continue on error.
  Pipelines/templates/sdl-job.yml
Due: none

Update sdl-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update all dependencies (except DevSkim), minor tweaks. (#145)
  Pipelines/templates/sdl-job.yml
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/GitHubHealthAlgorithm.cs
  src/oss-health/HealthTool.cs
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/RiskCalculatorTool.cs
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/DownloadTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update all dependencies (except DevSkim).
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update a few extra packages.
  src/oss-defog/oss-defog.csproj
  src/oss-download/oss-download.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml, Pipelines/oss-download.yml

Ubuntu endpoint sometimes 500's out, fail gracefully.
  src/Shared/PackageManagers/UbuntuProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add name to loggers so we can change logging levels at runtime.
  src/Shared/nlog.config
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Clean up help text.
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve null reference handling.
  src/Shared/PackageManagers/NuGetProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add test for non-existent Ubuntu package.
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml

Minor improvements.
  src/Shared/Helpers/PackageDownloader.cs
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve the health/risk calcaultor.
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-risk-calculator.yml

Remove extra continueOnError.
  Pipelines/templates/sdl-job.yml
Due: none

Update dependencies, risk calculator algorithm (#146)
  Pipelines/templates/sdl-job.yml
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/Shared.csproj
  src/Shared/nlog.config
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/RiskCalculatorTool.cs
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/DownloadTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Minor fixes, typos.
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/Resources/CryptographyRules/implementation-hash.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-cryptography.yml

Add support for "direct URL" packages.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update risk calculator algorithm.
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-risk-calculator.yml

Add oss-risk-calculator text.
  README.md
Due: none
