Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src/oss*, src/Shared
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Update sdl-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update Job Names
  Pipelines/templates/dotnet-publish-nix-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

Remove Extra Spacing
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-nix-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: none

Update dotnet-publish-nix-job.yml
  Pipelines/templates/dotnet-publish-nix-job.yml
Due: none

Update Linux/Mac Refs
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: none

Update ReleaseVersion Tasks
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Move PreBuild to Template
  Pipelines/core-pipeline.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: none

move oss-risk-calculator to refactored base classes (#122)
  src/Shared/OSSGadget.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update AssemblyInfo.cs
  src/CryptoGatherer/Properties/AssemblyInfo.cs
Due: none

Update Pipeline with Templates (#123)
  Pipelines/build-oss-component-mac-linux.yml
  Pipelines/build-oss-component-windows-nuget.yml
  Pipelines/core-pipeline.yml
  Pipelines/recursiveextractor-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nbgv-set-version-steps.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
  src/OSSGadget.sln
Due: none

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: none

Update Release Folder Paths
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Create unibeautifyrc.json
  unibeautifyrc.json
Due: none

Add a ToString and FromString function to CodeSnippet
  src/CryptoGatherer/CodeSnippet.cs
  src/CryptoGatherer/Form1.cs
Due: none

Add a ToString and FromString function to CodeSnippet (#130)
  src/CryptoGatherer/CodeSnippet.cs
  src/CryptoGatherer/Form1.cs
Due: none

Fixes
  src/CryptoGatherer/CodeSnippet.cs
  src/CryptoGatherer/Form1.cs
Due: none

Fix duplicate rule id.
  src/oss-detect-backdoor/Resources/BackdoorRules/lolbas.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Fix duplicate rule id. (#131)
  src/oss-detect-backdoor/Resources/BackdoorRules/lolbas.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

assign default value to downloadDirectory
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-risk-calculator.yml

Create dotnet-core.yml
  .github/workflows/dotnet-core.yml
Due: none

Update dotnet-core.yml
  .github/workflows/dotnet-core.yml
Due: none

Fix query selector for Cocoapods versions.
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

1) Remove folder deletion code from oss-downloader (#133)
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-download/DownloadTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Support netstandard2.0
  src/RecursiveExtractor/ArFile.cs
  src/RecursiveExtractor/Extractor.cs
  src/RecursiveExtractor/MiniMagic.cs
  src/RecursiveExtractor/Range.cs
  src/RecursiveExtractor/RecursiveExtractor.csproj
Due: Pipelines/recursiveextractor-pipeline.yml

Update RecursiveExtractor.csproj
  src/RecursiveExtractor/RecursiveExtractor.csproj
Due: Pipelines/recursiveextractor-pipeline.yml

Disable RecursiveExtractor Publishing
  src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  src/RecursiveExtractor/RecursiveExtractor.csproj
Due: Pipelines/recursiveextractor-pipeline.yml

Update recursiveextractor-pipeline.yml for Azure Pipelines
  Pipelines/recursiveextractor-pipeline.yml
Due: none

Re-enable RecursiveExtractor Publishing
  src/RecursiveExtractor/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  src/RecursiveExtractor/RecursiveExtractor/RecursiveExtractor.csproj
Due: Pipelines/recursiveextractor-pipeline.yml

Update RecursiveExtractor.csproj
  src/RecursiveExtractor/RecursiveExtractor/RecursiveExtractor.csproj
Due: Pipelines/recursiveextractor-pipeline.yml

Add Stream Support to Recursive Extractor
  src/RecursiveExtractor/RecursiveExtractor.Tests/ExtractorTests.cs
  src/RecursiveExtractor/RecursiveExtractor/Extractor.cs
Due: Pipelines/recursiveextractor-pipeline.yml
