Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src/oss*, src/Shared
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Add oss-risk-calculator text. (#151)
  README.md
Due: none

Risk Calculator, Direct URL Packages (#149)
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/Resources/CryptographyRules/implementation-hash.json
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add a newline after output printed to screen.
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixes for CryptoGatherer
  src/CryptoGatherer/CodeSnippet.cs
  src/CryptoGatherer/CryptoGatherer.csproj
  src/CryptoGatherer/Form1.cs
Due: none

Improve CryptoGatherer
  src/CryptoGatherer/Form1.cs
Due: none

add more crypto algos
  src/CryptoGatherer/Types.cs
Due: none

Fixes #155 (missing HttpClient init), GitHub find source regex #153.
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/DownloadTests.cs
  src/oss-tests/FindSourceTests.cs
  src/oss-tests/VersionTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update core-pipeline.yml for Azure Pipelines
  Pipelines/core-pipeline.yml
Due: none

Retarget all projects to .net 5.0 rc
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: none

Update dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
Due: none

Update dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
Due: none

Update dotnet-test-job.yml
  Pipelines/templates/dotnet-test-job.yml
Due: none

Update nuget-build-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: none

add more crypto algos (#154)
  src/CryptoGatherer/Types.cs
Due: none

Retarget all projects to .net 5.0 rc (#157)
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-publish-linux-mac-job.yml
  Pipelines/templates/dotnet-publish-win-netcore-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixes #159 (Bug in how we process NuGet API results).
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixes #155 (missing HttpClient init), GitHub find source regex #153, #156, .NET Core 5 merge. (#156)
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/DownloadTests.cs
  src/oss-tests/FindSourceTests.cs
  src/oss-tests/VersionTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix nullable warning.
  src/oss-detect-cryptography/DetectCryptographyTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Fix nullable warning. (#161)
  src/oss-detect-cryptography/DetectCryptographyTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

1) Update to C# language version 9 2) Add scaffolding for oss-metadata tool, which extracts standardized metadata from any package 3) Implement npm metadata extraction for oss-metadata
  src/OSSGadget.sln
  src/Shared/Model/PackageMetadata.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/Shared.csproj
  src/Shared/Utilities/Utilities.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/MetadataTool.cs
  src/oss-metadata/oss-metadata.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

package metadata checkin
  src/Shared/Model/PackageMetadata.cs
  src/Shared/Model/Repository.cs
  src/Shared/Shared.csproj
  src/Shared/Utilities/Utilities.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add NPM project manager changes for oss-metadata tool
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

check the dit entries
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml

Fix VSM download tests, backdoor rule dir.
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Add additional logging to debug tests in ADO.
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml

Fix tests, backdoor rules on Linux (#164)
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Fix broken tests, add NPM scoped test.
  Dockerfile
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix broken tests, add NPM scoped test. (#168)
  Dockerfile
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve output of oss-detect-backdoor.
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml

Fix oss-detect-backdoor output, add add'l patterns (#170)
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Bump nbgv
  Directory.Build.props
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
  version.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

NBGV Package and CodeQL Updates (#171)
  .github/workflows/codeql-analysis.yml
  Directory.Build.props
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
  version.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml
