Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Pipelines, src
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Initial commit of the IManagerPackageActions and related work.
  src/Shared.CLI/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Contracts/IManagerPackageActions.cs
  src/Shared/Contracts/IManagerPackageVersionMetadata.cs
  src/Shared/Model/Metadata/NuGetPackageVersionMetadata.cs
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/Shared/PackageManagers/TypedManager.cs
  src/Shared/Shared.Lib.csproj
  src/Shared/Utilities/NuGetLogger.cs
  src/oss-tests/ArchiveHelperTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/Helpers/PackageActionsHelper.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NuGet/nuget_registration.json
  src/oss-tests/TestData/NuGet/razorengine/4.2.3-beta1.json
  src/oss-tests/TestData/NuGet/razorengine/4.2.3-beta1.metadata.json
  src/oss-tests/TestData/NuGet/razorengine/index.json
  src/oss-tests/TestData/NuGet/razorengine/latest.metadata.json
  src/oss-tests/TestData/NuGet/razorengine/versions.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Disable the FindSquatsTests.DetectSquats NuGet test because it fails on ADO.
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Add some documentation. Address some warnings.
  src/Shared/Extensions/PackageUrlExtension.cs
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/TypedManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Rename some methods defined in BaseProjectManager to have async as a suffix. And update where used.
  src/Shared.CLI/Helpers/PackageDownloader.cs
  src/Shared.CLI/Helpers/RepoSearch.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/TypedManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-diff/DiffTool.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-health/HealthTool.cs
  src/oss-metadata/MetadataTool.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/SharedTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Clean up ProjectManagerFactoryTests as having a mocked IHttpClientFactory doesn't really matter.
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/core-pipeline.yml

Update the FindSquatsTests.DetectSquats to not use live data.
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/Helpers/FindSquatsHelper.cs
Due: Pipelines/core-pipeline.yml

Addressing comments.
  src/Shared/Contracts/IManagerPackageActions.cs
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/oss-tests/Helpers/PackageActionsHelper.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove nullable string in the foreach loop on EnumerateVersions in PackageDownloader.GetPackageVersionsToProcess.
  src/Shared.CLI/Helpers/PackageDownloader.cs
Due: Pipelines/core-pipeline.yml

Fix some issues with PyPI Metadata parsing.
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix wildcard version NuGet downloads.
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/TypedManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added unit tests for wildcard version downloads for NPM and NuGet.
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml

Change the way the wildcard tests work, because they would've broken as soon as a new version was published.
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml

Fixed another bug with the filePath in NuGetPackageActions.DownloadAsync.
  src/Shared/PackageActions/NuGetPackageActions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix the unit tests after the IAsyncEnumerable change.
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change from ArtifactUri to an abstract record called BaseArtifactUri. This BaseArtifactUri gets implemented in the NPM, NuGet, and PyPI project managers respectively.
  src/Shared/Model/ArtifactUri.cs
  src/Shared/Model/BaseArtifactUri.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added a remark in BaseProjectManager.GetArtifactDownloadUris that clarify that this method doesn't check that the returning URI(s) actually exist.
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added ExistsAsync to BaseArtifactUri that can be called to check for existence of the Uri associated with the object. It includes retries. Added it in the ProjectManagerTests as well.
  src/Shared/Model/BaseArtifactUri.cs
  src/Shared/Shared.Lib.csproj
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix wildcard version NuGet downloads. (#332)
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/TypedManager.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Addressing comments. Extension is now done out of sync with the constructor.
  src/Shared/Model/ArtifactUri.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change NoOpPackageActions to actually return null or empty instead of throwing NotImplemented exceptions.
  src/Shared/PackageActions/NoOpPackageActions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixing build failures.
  src/Shared/PackageActions/NoOpPackageActions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add a TODO to track merging the ArtifactUriType into the PackageVersionMetadata.
  src/Shared/PackageManagers/TypedManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Implement GetArtifactDownloadUris in the BaseProjectManager (#329)
  src/Shared/Extensions/PackageUrlExtension.cs
  src/Shared/Extensions/UriExtension.cs
  src/Shared/Helpers/StringExtensions.cs
  src/Shared/Model/ArtifactUri.cs
  src/Shared/PackageActions/NoOpPackageActions.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/TypedManager.cs
  src/Shared/Shared.Lib.csproj
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/PyPI/pandas.json
  src/oss-tests/TestData/PyPI/plotly.json
  src/oss-tests/TestData/PyPI/requests.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add a new method in BaseProjectManager, GetPublishedAtAsync that returns the DateTime of a given purl (with a specified version) for when it was published. Or returns null if it couldn't be found.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

I realized that GetPackageMetadataAsync for NPM didn't ever populate the UploadTime property, so I added that functionality as well.
  src/Shared/PackageManagers/NPMProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Move GetPublishedAtAsync from BaseProjectManager to just the 3 ones that implement it.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change the PyPIProjectManager.GetPublishedAtAsync to only do the necessary work to get the uploadTime, and no longer uses the entire GetPackageMetadataAsync method to just take the one value.
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change the GetPublishedAtAsync calls to just parse the time from the GetPackageMetadata call.
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Changed UploadTime to a DateTime object in PackageMetadata. This allows us to not have to do the parsing in GetPublishedAtAsync.
  src/Shared/Model/PackageMetadata.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add GetPublishedAtAsync to BaseProjectManager (#334)
  src/Shared/Model/PackageMetadata.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add backdooor check for obfuscated system commands (python)
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Fix spacing on --help messages. Header/footer text to stderr.
  src/Shared.CLI/OSSGadget.cs
Due: Pipelines/core-pipeline.yml

Add Metadata tool using deps.dev and libraries.io.
  src/Shared/Metadata/BaseMetadataSource.cs
  src/Shared/Metadata/DepsDevMetadataSource.cs
  src/Shared/Metadata/LibrariesIoMetadataSource.cs
  src/oss-metadata/MetadataTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add tests for metadata tool.
  src/oss-tests/MetadataTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Minor tweaks to readme text.
  PRIVACY.md
  README.md
Due: none

Add support for JMESPath expressions via the command line.
  src/oss-metadata/MetadataTool.cs
  src/oss-metadata/oss-metadata.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-metadata.yml

Fix broken formatting.
  src/oss-reproducible/ReproducibleTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-reproducible.yml

Add backdooor check for obfuscated system commands (python) (#337)
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Add retry/backoff for metadata load.
  src/Shared/Metadata/BaseMetadataSource.cs
  src/Shared/Metadata/LibrariesIoMetadataSource.cs
  src/oss-tests/MetadataTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml
