Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Remove uncallable extensions.
  src/oss-find-squats-lib/Mutators/MutateExtension.cs
Due: Pipelines/core-pipeline.yml

Fix domain squats.
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Add a GetDefaultMutators extension method.
  src/oss-find-squats-lib/Mutators/MutateExtension.cs
Due: Pipelines/core-pipeline.yml

Restore tests
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/MutateOptions.cs
  src/oss-find-squats-lib/Mutators/Mutation.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Guards on string extension
  src/Shared/Helpers/StringExtensions.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Refactor to use Mutation and MutatorType objects
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats-lib/FindSquatResult.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/AsciiHomoglyphMutator.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/DuplicatorMutator.cs
  src/oss-find-squats-lib/Mutators/Mutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats-lib/Mutators/SwapOrderOfLettersMutator.cs
  src/oss-find-squats-lib/Mutators/UnicodeHomoglyphMutators.cs
  src/oss-find-squats-lib/Mutators/VowelSwapMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Add comments to findsquat result
  src/oss-find-squats-lib/FindSquatResult.cs
Due: Pipelines/core-pipeline.yml

Fix copyright headers
  src/Shared/Helpers/StringExtensions.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/AsciiHomoglyphMutator.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/DuplicatorMutator.cs
  src/oss-find-squats-lib/Mutators/Mutation.cs
  src/oss-find-squats-lib/Mutators/Mutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats-lib/Mutators/SwapOrderOfLettersMutator.cs
  src/oss-find-squats-lib/Mutators/UnicodeHomoglyphMutators.cs
  src/oss-find-squats-lib/Mutators/VowelSwapMutator.cs
  src/oss-find-squats-lib/QwertyKeyboardHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Refactor AfterSeparatorMutator
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
Due: Pipelines/core-pipeline.yml

Add bitflip mutator back
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/BitFlipMutator.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
Due: Pipelines/core-pipeline.yml

Removed No-Op substitution mutator.
  src/oss-find-squats-lib/MutateExtension.cs
Due: Pipelines/core-pipeline.yml

Update FindSquatsTool.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Make the MutateOptions parameter optional.
  src/oss-find-squats-lib/MutateExtension.cs
Due: Pipelines/core-pipeline.yml

Add an .editorconfig and format find squats.
  src/.editorconfig
  src/oss-find-squats-lib/FindSquatResult.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/MutateOptions.cs
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/AsciiHomoglyphMutator.cs
  src/oss-find-squats-lib/Mutators/BitFlipMutator.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/Mutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats-lib/Mutators/UnicodeHomoglyphMutators.cs
  src/oss-find-squats-lib/Mutators/VowelSwapMutator.cs
  src/oss-find-squats-lib/QwertyKeyboardHelper.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Run formatting on tests and domain squats tool
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-tests/DefoggerTests.cs
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/DownloadTests.cs
  src/oss-tests/FindSourceTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/ReproducibleTests.cs
  src/oss-tests/SharedTests.cs
  src/oss-tests/VersionTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Add github action for linting using the editorconfig
  .github/workflows/editorconfig-lint.yml
Due: none

Update editorconfig-lint.yml
  .github/workflows/editorconfig-lint.yml
Due: none

Remove broken action.
  .github/workflows/editorconfig-lint.yml
Due: none

Rename mutator interface
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/AsciiHomoglyphMutator.cs
  src/oss-find-squats-lib/Mutators/BitFlipMutator.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/DuplicatorMutator.cs
  src/oss-find-squats-lib/Mutators/Mutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats-lib/Mutators/SwapOrderOfLettersMutator.cs
  src/oss-find-squats-lib/Mutators/UnicodeHomoglyphMutators.cs
  src/oss-find-squats-lib/Mutators/VowelSwapMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Rename Mutator.cs
  src/oss-find-squats-lib/Mutators/IMutator.cs
Due: Pipelines/core-pipeline.yml

Update IMutator.cs
  src/oss-find-squats-lib/Mutators/IMutator.cs
Due: Pipelines/core-pipeline.yml

Cleanup
  src/Shared/PackageManagers/PackageManagerFactory.cs
  src/oss-find-squats-lib/MutateOptions.cs
  src/oss-find-squats-lib/QwertyKeyboardHelper.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update pipeline
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Update src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
Due: Pipelines/core-pipeline.yml

Update src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
Due: Pipelines/core-pipeline.yml

Update src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
Due: Pipelines/core-pipeline.yml

Update src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
  src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
Due: Pipelines/core-pipeline.yml

Response to comments
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats-lib/FindPackageSquatResult.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/AsciiHomoglyphMutator.cs
  src/oss-find-squats-lib/Mutators/BitFlipMutator.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/DuplicatorMutator.cs
  src/oss-find-squats-lib/Mutators/IMutator.cs
  src/oss-find-squats-lib/Mutators/Mutation.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats-lib/Mutators/UnicodeHomoglyphMutators.cs
  src/oss-find-squats-lib/Mutators/VowelSwapMutator.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
Due: Pipelines/core-pipeline.yml

Formatting
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
Due: Pipelines/core-pipeline.yml

Fix comment.
  src/oss-find-squats-lib/MutateExtension.cs
Due: Pipelines/core-pipeline.yml

Custom simpler PackageExists implementation for Nuget and Npm
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Restore call to GetJsonCache
  src/Shared/PackageManagers/NuGetProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update NuGetProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add PackageExists implementations for the managers that use the Json or HTTP cache already.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Comment fixing.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Code Cleanup on FindSquats and FindSquatsLib
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

PR Comments
  src/.editorconfig
  src/Shared/Helpers/ConsoleHelper.cs
  src/Shared/Helpers/OutputBuilder/IOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/NoneOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/OutputBuilderFactory.cs
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
  src/Shared/Helpers/RepoSearch.cs
  src/Shared/Model/PackageMetadata.cs
  src/Shared/Model/Repository.cs
  src/Shared/OSSGadget.cs
  src/Shared/PackageManagers/PackageManagerFactory.cs
  src/Shared/Utilities/Utilities.cs
  src/oss-diff/Diff.cs
  src/oss-diff/DiffTool.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats-lib/FindPackageSquatResult.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/MutateOptions.cs
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-metadata/MetadataTool.cs
  src/oss-tests/DefoggerTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/ReproducibleTests.cs
  src/oss-tests/SharedTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Don't need to check Purl.Type
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml
