Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: src/oss-tests/oss-tests.csproj
  - stage: SDL
    dependsOn: Test
    jobs:
    - template: templates/sdl-job.yml
      parameters:
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/nuget-pipelines/oss-characteristics.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-characteristics
        projectPath: oss-characteristics/oss-characteristics.csproj
  ...

Pipelines/nuget-pipelines/oss-detect-backdoor.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-detect-backdoor
        projectPath: oss-detect-backdoor/oss-detect-backdoor.csproj
  ...

Pipelines/nuget-pipelines/oss-diff.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-diff
        projectPath: oss-diff/oss-diff.csproj
        projectName: oss-diff
  ...

Pipelines/nuget-pipelines/oss-find-squats.yml:
  jobs:
  - template: ../templates/nuget-build-job.yml
    parameters:
      jobName: pack_oss_find_squats
      projectPath: src/oss-find-squats/oss-find-squats.csproj
      projectName: oss-find-squats
      publishToNuget: true

Pipelines/nuget-pipelines/oss-health.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-health
        projectPath: oss-health/oss-health.csproj
        projectName: oss-health
  ...

Pipelines/nuget-pipelines/oss-metadata.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-metadata
        projectPath: oss-metadata/oss-metadata.csproj
        projectName: oss-metadata
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Fix the FindSourceTool to use the new lib stuff.
  src/Shared/Helpers/RepoSearch.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update the rest of the OSS Gadget tools to use the HTTP Client from HttpClientFactory instead of the CommonInitialization WebClient. Still need to fix the tests.
  src/Shared/CommonInitialization.cs
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/OSSGadget.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-diff/DiffTool.cs
  src/oss-download/DownloadTool.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-health/GitHubHealthAlgorithm.cs
  src/oss-health/HealthMetrics.cs
  src/oss-health/HealthTool.cs
  src/oss-metadata/MetadataTool.cs
  src/oss-reproducible/Helpers/IgnoreFilter.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/Strategies/AutoBuildProducesSamePackage.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Removed import of shared in oss-download that was causing problems for it.
  src/oss-download/oss-download.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-download.yml

Remove Unneeded Usings
  src/Shared-lib/DefaultHttpClientFactory.cs
  src/Shared-lib/Helpers/EnvironmentHelper.cs
  src/Shared-lib/OssGadgetLib.cs
  src/Shared-lib/PackageManagers/BaseProjectManager.cs
  src/Shared-lib/PackageManagers/CPANProjectManager.cs
  src/Shared-lib/PackageManagers/CRANProjectManager.cs
  src/Shared-lib/PackageManagers/CargoProjectManager.cs
  src/Shared-lib/PackageManagers/CocoapodsProjectManager.cs
  src/Shared-lib/PackageManagers/ComposerProjectManager.cs
  src/Shared-lib/PackageManagers/GemProjectManager.cs
  src/Shared-lib/PackageManagers/GitHubProjectManager.cs
  src/Shared-lib/PackageManagers/GolangProjectManager.cs
  src/Shared-lib/PackageManagers/HackageProjectManager.cs
  src/Shared-lib/PackageManagers/MavenProjectManager.cs
  src/Shared-lib/PackageManagers/NPMProjectManager.cs
  src/Shared-lib/PackageManagers/NuGetProjectManager.cs
  src/Shared-lib/PackageManagers/PyPIProjectManager.cs
  src/Shared-lib/PackageManagers/URLProjectManager.cs
  src/Shared-lib/PackageManagers/UbuntuProjectManager.cs
  src/Shared-lib/PackageManagers/VSMProjectManager.cs
  src/Shared/CommonInitialization.cs
  src/Shared/Helpers/RepoSearch.cs
  src/oss-health/BaseHealthAlgorithm.cs
  src/oss-tests/DetectCryptographyTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Expand PyPi source finding code.
  src/Shared-lib/DefaultHttpClientFactory.cs
  src/Shared-lib/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml

Fix CodeQL Workflow for .NET 6
  .github/workflows/codeql-analysis.yml
Due: none

Allow empty construction of DefaultHttpClient
  src/Shared-lib/DefaultHttpClientFactory.cs
Due: Pipelines/core-pipeline.yml

Found a bug regarding the RemovedCharacterMutator where it doesn't remove the first character in the name. Also added a test to check for that case.
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Found a bug regarding the RemovedCharacterMutator where it doesn't remove the first character in the name. (#296)
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Use DefaultHttpClientFactory for CLIs
  src/Shared-lib/DefaultHttpClientFactory.cs
  src/Shared-lib/OssGadgetLib.cs
  src/Shared/OSSGadget.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-diff/DiffTool.cs
  src/oss-download/DownloadTool.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-health/BaseHealthAlgorithm.cs
  src/oss-health/HealthTool.cs
  src/oss-metadata/MetadataTool.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove CommonInitialization
  src/Shared-lib/OssGadgetLib.cs
  src/Shared/CommonInitialization.cs
  src/Shared/Helpers/RepoSearch.cs
  src/Shared/OSSGadget.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/DownloadTests.cs
  src/oss-tests/FindSourceTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/VersionTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Restore parameterless constructors for CLI objects
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-diff/DiffTool.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-risk-calculator.yml

Second set of constructors
  src/oss-download/DownloadTool.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-health/HealthTool.cs
  src/oss-reproducible/ReproducibleTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/oss-download.yml, Pipelines/oss-health.yml

Use the restored parameterless constructors.
  src/Shared-lib/PackageManagers/BaseProjectManager.cs
  src/Shared/Helpers/RepoSearch.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-diff/DiffTool.cs
  src/oss-download/DownloadTool.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-health/HealthTool.cs
  src/oss-metadata/MetadataTool.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Make a folder delete helper
  src/Shared-lib/Helpers/FileSystemHelper.cs
  src/Shared/Helpers/PackageDownloader.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-diff/DiffTool.cs
  src/oss-reproducible/Helpers/OssReproducibleHelpers.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix pipeline
  Pipelines/core-pipeline.yml
  Pipelines/templates/nbgv-set-version-steps.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Better fix.
  src/Shared/Helpers/PackageDownloader.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Clarify interfaces, add some comments describing mutators.
  src/oss-find-squats-lib/FindPackageSquats.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
  src/oss-find-squats/FindSquatsTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Remove dulicate nlog.config
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared.CLI/nlog.config
Due: Pipelines/core-pipeline.yml

Should fix version mismatches on pulication on nuget.
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Should fix version mismatches on pulication on nuget. (#298)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Add missing self contained argument
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Fix check paths
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Include any pipeline change.
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Include any pipeline change. (#299)
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Add `toJson` to `FindPackageSquatResult` Added a unit test as well.
  src/oss-find-squats-lib/FindPackageSquatResult.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Added a FromJsonString method as well to construct a FindPackageSquatResult from a json string.
  src/Shared/PackageUrl/PackageUrl.cs
  src/oss-find-squats-lib/FindPackageSquatResult.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added toJson to FindPackageSquatResult (#300)
  src/Shared/PackageUrl/PackageUrl.cs
  src/oss-find-squats-lib/FindPackageSquatResult.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change the version of Microsoft.Extensions.Caching.Memory to the non-preview version of 6.0.0
  src/Shared/Shared.Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change the version of Microsoft.Extensions.Caching.Memory to the non-preview version of 6.0.0 (#301)
  src/Shared/Shared.Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added mutation support to the scope for scoped npm packages.
  src/Shared/Helpers/StringExtensions.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added mutation support to the scope for scoped npm packages. (#302)
  src/Shared/Helpers/StringExtensions.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add support for oss-metadata to NuGet.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add repository and dependency information for NuGet package metadata.
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Model/PackageMetadata.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/Shared.Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix nuspec errors if no version was specified.
  src/Shared/PackageManagers/NuGetProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
