Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: src/oss-tests/oss-tests.csproj
  - stage: Build
    dependsOn: Test
    jobs:
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/nuget-pipelines/oss-characteristics.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-characteristics
        projectPath: oss-characteristics/oss-characteristics.csproj
  ...

Pipelines/nuget-pipelines/oss-detect-backdoor.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-detect-backdoor
        projectPath: oss-detect-backdoor/oss-detect-backdoor.csproj
  ...

Pipelines/nuget-pipelines/oss-diff.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-diff
        projectPath: oss-diff/oss-diff.csproj
        projectName: oss-diff
  ...

Pipelines/nuget-pipelines/oss-find-squats.yml:
  jobs:
  - template: ../templates/nuget-build-job.yml
    parameters:
      jobName: pack_oss_find_squats
      projectPath: src/oss-find-squats/oss-find-squats.csproj
      projectName: oss-find-squats
      publishToNuget: true

Pipelines/nuget-pipelines/oss-health.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-health
        projectPath: oss-health/oss-health.csproj
        projectName: oss-health
  ...

Pipelines/nuget-pipelines/oss-metadata.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-metadata
        projectPath: oss-metadata/oss-metadata.csproj
        projectName: oss-metadata
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Add revocation checking, tweaked suppressions.
  src/Shared/DefaultHttpClientFactory.cs
  src/Shared/Helpers/ArchiveHelper.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add revocation checking, tweaked suppressions. (#364)
  src/Shared/DefaultHttpClientFactory.cs
  src/Shared/Helpers/ArchiveHelper.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Resolve environment variables on package managers
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Support missing maven file downloads
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Support environment variable overrides in package managers (#365)
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change Environment Variables to be non-static + public
  src/Shared/Helpers/EnvironmentHelper.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-tests/Helpers/FindSquatsHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Change Environment Variables to be non-static + public (#367)
  src/Shared/Helpers/EnvironmentHelper.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-tests/Helpers/FindSquatsHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix AppInspector rules for Oss-Detect-Backdoor
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Fix Oss-Gadget rules for Oss-Detect-cryptography
  src/oss-detect-cryptography/Resources/CryptographyRules/reference-common.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Add rule verification test for DetectCryptographyTool
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-tests/DetectCryptographyTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Update DownloadTests.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml

Add changes based on discussion with gfs. Added tests for it as well.
  src/Shared/Contracts/IManagerPackageActions.cs
  src/Shared/Model/Metadata/NuGetPackageVersionMetadata.cs
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/Helpers/PackageActionsHelper.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NuGet/razorengine/latest.metadata.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/index.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/page/0.1.0-ci-20220325-215611/0.1.0-ci-20220807-160739.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/page/0.1.0-ci-20221013-182634/0.1.0-ci-20221120-180516.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/slipeserver.scripting.0.1.0-ci-20220607-083949.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/versions.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Addressing PR comments.
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/oss-tests/Helpers/PackageActionsHelper.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixes App Inspector Rules (#371)
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/Resources/CryptographyRules/reference-common.json
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml

Update GetPackageMetadataAsync include a pre-release flag (#366)
  src/Shared/Contracts/IManagerPackageActions.cs
  src/Shared/Model/Metadata/NuGetPackageVersionMetadata.cs
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/Helpers/PackageActionsHelper.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NuGet/razorengine/latest.metadata.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/index.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/page/0.1.0-ci-20220325-215611/0.1.0-ci-20220807-160739.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/page/0.1.0-ci-20221013-182634/0.1.0-ci-20221120-180516.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/slipeserver.scripting.0.1.0-ci-20220607-083949.json
  src/oss-tests/TestData/NuGet/slipeserver.scripting/versions.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Cleanup the GetArtifactDownloadUris to instead be returned from the TypedManager class
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/TypedManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update Cargo, Golang, and Maven package managers to include download urls
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Cleanup the GetArtifactDownloadUris to instead be returned from the TypedManager class (#374)
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/TypedManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add tests for manager updates
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/oss-tests/DownloadTests.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Maven/maven_ant_1.6.html
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update Cargo, Maven, and Golang Project Managers to extend TypedManager class (#375)
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/oss-tests/DownloadTests.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Maven/maven_ant_1.6.html
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add missing SDK for NuGet builds
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Add missing SDK for NuGet builds (#376)
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Fix issue with npm saying that any version of a package with a security holding version as well was malicious.
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NPM/tslib.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix issue with npm saying that any version of a package with a security holding version as well was malicious. (#377)
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NPM/tslib.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Implement GetPackageMetadataAsync for Cargo, Golang, and Maven
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Updates
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update default user agent string.
  src/Shared/DefaultHttpClientFactory.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Updates
  src/Shared/DefaultHttpClientFactory.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Updates for Cargo, Maven, and Golang Package Managers (#378)
  src/Shared/DefaultHttpClientFactory.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added download count info to the NPM metadata response.
  src/Shared/Model/Metadata/NPM/NPMDownloads.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove extra dot in suspicious hostname check.
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Remove extra dot in suspicious hostname check. (#381)
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

When a destination directory is not specified, we need to create the temp directory, otherwise file IO will fail later. (#384)
  src/Shared.CLI/Helpers/PackageDownloader.cs
  src/Shared/Helpers/ArchiveHelper.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add basic support for Conda
  src/Shared/PackageManagers/CondaProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/oss-tests/ProjectManagerTests/CondaProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add logic for parsing publish dates for Golang, Cargo, and Maven
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Cargo/api_rand_json
  src/oss-tests/TestData/Go/go_yaml_1.3.0_info
  src/oss-tests/TestData/Go/go_yaml_1.3.0_mod
  src/oss-tests/TestData/Go/go_yaml_list
  src/oss-tests/TestData/Maven/maven_ant_1.6.pom
  src/oss-tests/TestData/Maven/maven_ant_all.html
  src/oss-tests/TestData/Maven/maven_ant_metadata.xml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add basic support for Conda (#386)
  src/Shared/PackageManagers/CondaProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/oss-tests/ProjectManagerTests/CondaProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add logic for parsing publish dates for Golang, Cargo, and Maven (#387)
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Cargo/api_rand_json
  src/oss-tests/TestData/Go/go_yaml_1.3.0_info
  src/oss-tests/TestData/Go/go_yaml_1.3.0_mod
  src/oss-tests/TestData/Go/go_yaml_list
  src/oss-tests/TestData/Maven/maven_ant_1.6.pom
  src/oss-tests/TestData/Maven/maven_ant_all.html
  src/oss-tests/TestData/Maven/maven_ant_metadata.xml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Conda: package existance is applied to version only.
  src/Shared/PackageManagers/CondaProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Conda: package existence check applies only when version is provided (#388)
  src/Shared/PackageManagers/CondaProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Adds more detections
  src/oss-detect-backdoor/Resources/BackdoorRules/backdoor_signatures.json
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
  src/oss-detect-backdoor/Resources/BackdoorRules/pastebin.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Pipelines, src
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
