Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Add oss-find-domain-squats
  src/OSSGadget.sln
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Add sleep delay support
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Update FindDomainSquatsTool.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Remove unreliable case
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Fix vowel generator issue
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Update FindSquatsTests.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Add more Typo-Squat generators (#208)
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

allow prepended double hit
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Misc Fixes
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Should fix file output
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
Due: Pipelines/core-pipeline.yml

Add oss-find-domain-squats (#209)
  src/OSSGadget.sln
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Update data_exfilatration.json
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfilatration.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Fix name typo
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Fix stray commas
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Fix mistakenly printing parent directory
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Change confidence values
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Add confidence detection to chracteristic and backdoor tool
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml

Adds confidence for existing rules
  src/oss-detect-backdoor/Resources/BackdoorRules/backdoor_signatures.json
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/crypto_currency.json
  src/oss-detect-backdoor/Resources/BackdoorRules/ioc.json
  src/oss-detect-backdoor/Resources/BackdoorRules/lolbas.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
  src/oss-detect-backdoor/Resources/BackdoorRules/pastebin.json
  src/oss-detect-backdoor/Resources/BackdoorRules/reverse_shell.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Upgrade AppInspector, null output factory, scan single file, return output.
  src/Shared/Helpers/OutputBuilder/NoneOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/OutputBuilderFactory.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Bump dependencies.
  src/Shared/Shared.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Custom output for backdoor detector (text)
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Add add'l backdoor rules (dependency confusion)
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Allow analyzing a single file/archive
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Remove extra verbose namespace
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Merge @scovetta changes
  src/Shared/Helpers/OutputBuilder/NoneOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/OutputBuilderFactory.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
  src/oss-diff/oss-diff.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add snippet and exact file location to sarif issues
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

small cleanup
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Rename some variables for clarity
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Remove Severity to Result Kind
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Clean up sarif output
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Fix awaiting
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml

Fix not reporting low confidence matches
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Characteristic tool now allows configurable sarif level
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml

Update dependencies
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-cryptography.yml

Fix using treateverythingascode
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Print matches in descending confidence
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

misc
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml

Gfs/new rules (#210)
  src/Shared/Helpers/OutputBuilder/NoneOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/OutputBuilderFactory.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/backdoor_signatures.json
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/crypto_currency.json
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfilatration.json
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
  src/oss-detect-backdoor/Resources/BackdoorRules/ioc.json
  src/oss-detect-backdoor/Resources/BackdoorRules/lolbas.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
  src/oss-detect-backdoor/Resources/BackdoorRules/pastebin.json
  src/oss-detect-backdoor/Resources/BackdoorRules/reverse_shell.json
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add a few additional rules.
  src/oss-detect-backdoor/Resources/BackdoorRules/backdoor_signatures.json
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Add RuntimeIdentifiers to each .csproj file so that self-contained will work.
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml
