Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: src/oss-tests/oss-tests.csproj
  - stage: SDL
    dependsOn: Test
    jobs:
    - template: templates/sdl-job.yml
      parameters:
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-defog.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-backdoor.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-detect-cryptography.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-download.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-find-source.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-health.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/oss-risk-calculator.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  steps:
  - template: oss-core.yml
    parameters:
      project: $(project)

Pipelines/recursiveextractor-pipeline.yml:
  name: RecursiveExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        dotnetVersion: 3.1.x
        projectPath: src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  - stage: SDL
    dependsOn: Test
  ...

Make commands easier to run in Docker (#235)
  .dockerignore
  Dockerfile
Due: none

Add nice banner to tool output.
  src/Shared/OSSGadget.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve detection for GitHub tags.
  src/Shared/PackageManagers/GitHubProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve RubyGems version detector.
  src/Shared/PackageManagers/GemProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Minor fixups.
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-download/DownloadTool.cs
  src/oss-find-source/FindSourceTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add oss-reproducible.
  .gitattributes
  src/OSSGadget.sln
  src/oss-reproducible/BuildHelperScripts/gem/autobuild.sh
  src/oss-reproducible/BuildHelperScripts/npm/autobuild.sh
  src/oss-reproducible/BuildHelperScripts/npm/bluebird.build
  src/oss-reproducible/BuildHelperScripts/npm/bluebird.prebuild
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/Helpers/IgnoreFilter.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/Strategies/AutoBuildProducesSamePackage.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-reproducible/Strategies/OryxBuildStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceByContentStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceByFilenameStrategy.cs
  src/oss-reproducible/Strategies/PackageIgnoreList.txt
  src/oss-reproducible/Strategies/PackageMatchesSourceStrategy.cs
  src/oss-reproducible/oss-reproducible.csproj
Due: Pipelines/core-pipeline.yml

Fix reference to non-self-contained executables.
  src/oss-reproducible/oss-reproducible.csproj
Due: Pipelines/core-pipeline.yml

Improve output JSON.
  src/oss-reproducible/ReproducibleTool.cs
Due: Pipelines/core-pipeline.yml

Add reproducibility tests.
  src/oss-tests/ReproducibleTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Remove bluebird tests, which needs Docker.
  src/oss-tests/ReproducibleTests.cs
Due: Pipelines/core-pipeline.yml

Add extra metadata to cpan version detector.
  src/Shared/PackageManagers/CPANProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add support for cpan builders; fix ignore filters.
  src/oss-reproducible/BuildHelperScripts/cpan/autobuild.sh
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/Helpers/IgnoreFilter.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/Strategies/AutoBuildProducesSamePackage.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-reproducible/Strategies/OryxBuildStrategy.cs
  src/oss-reproducible/Strategies/PackageIgnoreList.txt
  src/oss-reproducible/oss-reproducible.csproj
Due: Pipelines/core-pipeline.yml

Add ignore list for find source tool.
  src/oss-find-source/FindSourceTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-find-source.yml

Add additional ignore patterns.
  src/oss-reproducible/Strategies/PackageIgnoreList.txt
Due: Pipelines/core-pipeline.yml

Improve directory comparison algorithm. Add diff output (optional) Add cmdline options for running specific strategies. Add Python support.
  src/oss-reproducible/BuildHelperScripts/pypi/autobuild.sh
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/Strategies/AutoBuildProducesSamePackage.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-reproducible/Strategies/OryxBuildStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceByContentStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceByFilenameStrategy.cs
  src/oss-reproducible/Strategies/PackageMatchesSourceStrategy.cs
  src/oss-reproducible/oss-reproducible.csproj
Due: Pipelines/core-pipeline.yml

Reduced some log noise.
  src/Shared/nlog.config
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Typo.
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Refactor build strategies.
  src/oss-reproducible/Strategies/AutoBuildProducesSamePackage.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-reproducible/Strategies/OryxBuildStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceByContentStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceStrategy.cs
  src/oss-reproducible/Strategies/PackageMatchesSourceStrategy.cs
Due: Pipelines/core-pipeline.yml

Add ansi output, some overriding builders, cmdline options.
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/Shared.csproj
  src/oss-reproducible/BuildHelperScripts/cargo/autobuild.sh
  src/oss-reproducible/BuildHelperScripts/npm/@objectisundefined/typo.build
  src/oss-reproducible/BuildHelperScripts/npm/bluebird.prebuild
  src/oss-reproducible/Helpers/DataObjects.cs
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/Helpers/IgnoreFilter.cs
  src/oss-reproducible/README.md
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-tests/ReproducibleTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

GitHub: Pull versions from `git ls-remote` and then find the best match.
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Nicer (color) output, fix bug in 'matches source'. Add tests.
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-reproducible/Strategies/PackageMatchesSourceStrategy.cs
  src/oss-tests/ReproducibleTests.cs
Due: Pipelines/core-pipeline.yml

Fix reproducibility tests.
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-tests/ReproducibleTests.cs
Due: Pipelines/core-pipeline.yml

Minor tweaks.
  src/Shared/CommonInitialization.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-tests/ReproducibleTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Temporary workaround for #240.
  src/Shared/CommonInitialization.cs
  src/oss-reproducible/Helpers/Helpers.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add automatic decompression.
  src/Shared/CommonInitialization.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Reduce warning level for missing versions.
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add diffoscope, scoring algorithm.
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/Strategies/AutoBuildProducesSamePackage.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-reproducible/Strategies/OryxBuildStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceStrategy.cs
  src/oss-reproducible/Strategies/PackageMatchesSourceStrategy.cs
Due: Pipelines/core-pipeline.yml

Add additional backdoor rules (obfuscation).
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Fix tag distinct bug #241
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-reproducible/ReproducibleTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Fix broken test.
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-tests/ReproducibleTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Minor cleanup
  src/Shared/OSSGadget.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-reproducible/Strategies/OryxBuildStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceStrategy.cs
  src/oss-reproducible/Strategies/PackageIgnoreList.txt
  src/oss-reproducible/Strategies/PackageMatchesSourceStrategy.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

More cleanup
  src/oss-reproducible/ReproducibleTool.cs
Due: Pipelines/core-pipeline.yml

- Improve NPM autobuilder. - Refactor strategyresult - Minor tweaks.
  src/oss-reproducible/BuildHelperScripts/npm/autobuild.sh
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/Strategies/AutoBuildProducesSamePackage.cs
  src/oss-reproducible/Strategies/BaseStrategy.cs
  src/oss-reproducible/Strategies/OryxBuildStrategy.cs
  src/oss-reproducible/Strategies/PackageContainedInSourceStrategy.cs
  src/oss-reproducible/Strategies/PackageMatchesSourceStrategy.cs
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml

- Refactor IsReproducible - Tweaks - Improve Ubuntu download test.
  src/oss-reproducible/Helpers/DataObjects.cs
  src/oss-reproducible/Helpers/Helpers.cs
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-tests/DownloadTests.cs
Due: Pipelines/core-pipeline.yml

- Fix #245 - Write banner to stderr instead of stdout.
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/OSSGadget.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

- Fix #245 (output to console on full path) - Change banner to stderr (from stdout)
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/OSSGadget.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Codemaid, non-errors to stdout.
  src/Shared/OSSGadget.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-reproducible/ReproducibleTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix #249 (Maven failing to download certain packages).
  src/Shared/PackageManagers/MavenProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Bump all dependencies (except Application Inspector), CodeMaid.
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
