Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src/oss*, src/Shared
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor

Update build-oss-component-windows-nuget.yml
  Pipelines/build-oss-component-windows-nuget.yml
Due: none

Comment out unused nupkg components.
  Pipelines/core-pipeline.yml
Due: none

Delete .DS_Store
  src/oss-tests/.DS_Store
Due: Pipelines/core-pipeline.yml

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: none

Improve first look grokability on PR result status.
  Pipelines/core-pipeline.yml
  Pipelines/multiextractor-pipeline.yml
Due: none

Templateify full core pipeline. Create independent pipeline for oss-characteristics
  Pipelines/build-oss-component-mac-linux.yml
  Pipelines/build-oss-component-windows-nuget.yml
  Pipelines/core-pipeline.yml
  Pipelines/oss-characteristics.yml
  Pipelines/oss-tests.yml
  Pipelines/sign-and-publish-oss-component.yml
Due: none

Parameter fixes
  Pipelines/build-oss-component-mac-linux.yml
  Pipelines/build-oss-component-windows-nuget.yml
Due: none

Fix
  Pipelines/build-oss-component-windows-nuget.yml
Due: none

Add default variables to templates
  Pipelines/build-oss-component-mac-linux.yml
  Pipelines/build-oss-component-windows-nuget.yml
  Pipelines/oss-characteristics.yml
Due: none

wip
  Pipelines/build-oss-component-mac-linux.yml
  Pipelines/oss-characteristics.yml
Due: none

Improvements
  Pipelines/build-oss-component-mac-linux.yml
  Pipelines/build-oss-component-windows-nuget.yml
  Pipelines/sign-and-publish-oss-component.yml
Due: none

Update Characteristics Name
  src/OSSGadget.sln
  src/oss-characteristics/oss-characteristics.csproj
Due: Pipelines/core-pipeline.yml

Add separate pipelines for each oss tool
  Pipelines/oss-defog.yml
  Pipelines/oss-detect-backdoor.yml
  Pipelines/oss-detect-cryptography.yml
  Pipelines/oss-download.yml
  Pipelines/oss-find-source.yml
  Pipelines/oss-health.yml
  Pipelines/oss-risk-calculator.yml
  Pipelines/oss-tests.yml
Due: none

Fix triggers
  Pipelines/oss-characteristics.yml
  Pipelines/oss-defog.yml
  Pipelines/oss-detect-backdoor.yml
  Pipelines/oss-detect-cryptography.yml
  Pipelines/oss-download.yml
  Pipelines/oss-find-source.yml
  Pipelines/oss-health.yml
  Pipelines/oss-risk-calculator.yml
Due: none

Add core template
  Pipelines/oss-characteristics.yml
  Pipelines/oss-core.yml
  Pipelines/oss-defog.yml
  Pipelines/oss-detect-backdoor.yml
  Pipelines/oss-detect-cryptography.yml
  Pipelines/oss-download.yml
  Pipelines/oss-find-source.yml
  Pipelines/oss-health.yml
  Pipelines/oss-risk-calculator.yml
Due: none

Update oss-characteristics.yml
  Pipelines/oss-characteristics.yml
Due: none

Update oss-core.yml
  Pipelines/oss-core.yml
Due: none

nit
  src/Shared/Helpers/OutputBuilder.cs
Due: Pipelines/core-pipeline.yml

Update Extractor to use an options bag setter
  src/MultiExtractor/Extractor.cs
Due: Pipelines/multiextractor-pipeline.yml

Move options into its own file
  src/MultiExtractor/Extractor.cs
  src/MultiExtractor/ExtractorOptions.cs
Due: Pipelines/multiextractor-pipeline.yml

Add Option to not return original file on failed extraction (#99)
  src/MultiExtractor/Extractor.cs
  src/MultiExtractor/ExtractorOptions.cs
Due: Pipelines/multiextractor-pipeline.yml

Update DiscUtils to MyGet version
  NuGet.Config
  src/MultiExtractor/MultiExtractor.csproj
Due: Pipelines/multiextractor-pipeline.yml

Move Nuget.Config
  src/MultiExtractor/NuGet.Config
Due: Pipelines/multiextractor-pipeline.yml

PR comments
  src/Shared/Shared.csproj
  src/oss-find-source/FindSourceTool.cs
Due: Pipelines/core-pipeline.yml

User/jacobmsft/sarif format (#90)
  src/MultiExtractor.Tests/MultiExtractor.Tests.csproj
  src/Shared/Helpers/ConsoleHelper.cs
  src/Shared/Helpers/OutputBuilder.cs
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/Helpers/RepoSearch.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/Shared/Properties/launchSettings.json
  src/Shared/Shared.csproj
  src/Shared/nlog.config
  src/oss-characteristics/Properties/launchSettings.json
  src/oss-defog/Properties/launchSettings.json
  src/oss-detect-backdoor/Properties/launchSettings.json
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/GitHubHealthAlgorithm.cs
  src/oss-health/HealthMetrics.cs
  src/oss-health/Properties/launchSettings.json
  src/oss-risk-calculator/Properties/launchSettings.json
  src/oss-risk-calculator/RiskCalculatorTool.cs
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml

Nullable Annotations
  src/Shared/CommonInitialization.cs
  src/Shared/Helpers/ConsoleHelper.cs
  src/Shared/Helpers/OutputBuilder.cs
  src/Shared/Helpers/PackageDownloader.cs
  src/Shared/Helpers/RepoSearch.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PackageManagerFactory.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/UbuntuProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/Shared/PackageUrl/PackageUrl.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/RiskCalculatorTool.cs
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/DownloadTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Update multiextractor-pipeline.yml for Azure Pipelines
  Pipelines/multiextractor-pipeline.yml
Due: none

Return empty if purl?.ToStringFilename is null
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
Due: Pipelines/core-pipeline.yml

Create NuGet.Config
  src/MultiExtractor.Tests/NuGet.Config
Due: none

move nuget cfg
  src/MultiExtractor.Tests/NuGet.Config
  src/NuGet.Config
Due: none
