Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src/oss*, src/Shared
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared

Delete multiextractor-pipeline.yml
  Pipelines/multiextractor-pipeline.yml
Due: none

Update Extractor references
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update core-pipeline.yml for Azure Pipelines
  Pipelines/core-pipeline.yml
Due: none

Update oss-tests.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Update Package References for Refactor (#108)
  Pipelines/core-pipeline.yml
  Pipelines/multiextractor-pipeline.yml
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/Shared.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix LGTM suggestions, nullable objects and fix gitignore for launchSettings.json
  .gitignore
  src/Shared/Helpers/OutputBuilder.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthMetrics.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

DownloadTool inherit from OSSGadget class to get CommonInitialization to fix tests
  src/oss-download/DownloadTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-download.yml

Change baseclass for all the tools to OSSGadget
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml

Add --format and --output-file flags to oss-characterstics (#106)
  .gitignore
  src/Shared/Helpers/OutputBuilder.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-download/DownloadTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthMetrics.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

remove unwanted usings
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-health.yml

Add command line options
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-health.yml

append help text and other fixes
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-health.yml

Create SUPPORT.md
  SUPPORT.md
Due: none

Revert change to switch DiscUtils to MyGet version
  Pipelines/recursiveextractor-pipeline.yml
  src/NuGet.Config
  src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  src/RecursiveExtractor/RecursiveExtractor.csproj
Due: none

Update recursiveextractor-pipeline.yml for Azure Pipelines
  Pipelines/recursiveextractor-pipeline.yml
Due: none

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update Shared.csproj
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Revert change to switch DiscUtils to MyGet version (#113)
  .github/workflows/codeql-analysis.yml
  Pipelines/core-pipeline.yml
  Pipelines/recursiveextractor-pipeline.yml
  src/NuGet.Config
  src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  src/RecursiveExtractor/RecursiveExtractor.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml

Reference recursive extractor by reference not by nuget in Shared.csproj
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add --format and --output-file to oss-health (#110)
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-health/HealthTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-health.yml

Reference recursive extractor by reference not by nuget in Shared.csproj (#115)
  src/Shared/Shared.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixes initial FileEntry creation to have correct path
  src/RecursiveExtractor/Extractor.cs
Due: none

Add CodeMaid.Config
  CodeMaid.config
Due: none

Enable zbxl.zip
  src/RecursiveExtractor.Tests/ExtractorTests.cs
  src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
Due: none

Update ExtractorTests.cs
  src/RecursiveExtractor.Tests/ExtractorTests.cs
Due: none

Trigger pipeline on test changes
  Pipelines/recursiveextractor-pipeline.yml
Due: none

Formatting
  src/RecursiveExtractor/FileEntry.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-risk-calculator/RiskCalculatorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-risk-calculator.yml

split long lines
  src/RecursiveExtractor/Extractor.cs
Due: none

Move command line parsing and help/usage to library Move common elements of tools to OSSGadget (partial) Make OutputBuilder extensible
  src/RecursiveExtractor.Tests/RecursiveExtractor.Tests.csproj
  src/Shared/Helpers/OutputBuilder/IOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/OutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
  src/Shared/OSSGadget.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/HealthTool.cs
  src/oss-health/oss-health.csproj
  src/oss-risk-calculator/RiskCalculatorTool.cs
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

fixes
  src/Shared/Helpers/OutputBuilder/OutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
  src/Shared/OSSGadget.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthTool.cs
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

review comments
  src/Shared/Helpers/OutputBuilder/IOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/OutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/OutputBuilderFactory.cs
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
  src/Shared/OSSGadget.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-health/HealthTool.cs
  src/oss-tests/FindSourceTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml
