Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Pipelines, src
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Add line number for excerpt in oss-detect-backdoor (#450)
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Add "EnableNonBacktrackingRegex" option to oss-characteristic tool
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml

Update projects to net 6 and 8
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-fresh/oss-fresh.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update pipelines for net 8
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Update dependencies
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-fresh/oss-fresh.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Options for Backtrack and Single Thread
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml

Update CharacteristicTool.cs
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/oss-characteristics.yml

Update DetectBackdoorTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Add "EnableNonBacktrackingRegex" option to oss-characteristic tool (#453)
  Pipelines/templates/dotnet-build-publish-all-platforms-job.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-fresh/oss-fresh.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Comment out test that fails in pipeline
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml

Update tests to run net 6 and net 8
  Pipelines/templates/dotnet-test-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Use ignore flag instead of commenting out.
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml

Ignore test that fails in pipeline (#454)
  Pipelines/templates/dotnet-test-job.yml
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Switch to newly created service connection
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Switch to newly created service connection (#456)
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update pipeline pools
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Update CodeQL Workflow to build with net 6 and 8
  .github/workflows/codeql-analysis.yml
Due: none

Update Pipeline Pools (#457)
  .github/workflows/codeql-analysis.yml
  Pipelines/core-pipeline.yml
  Pipelines/templates/dotnet-test-job.yml
  Pipelines/templates/nuget-build-job.yml
  Pipelines/templates/sdl-job.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Fix Indentation in pipeline
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Fix Indentation in pipeline (#459)
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Update other nuget packages
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add method to fetch when the package is first published.
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Address PR comments.
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/Model/PackageMetadata.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Include repo metadata if set.
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added new argument to GetPackageMetadata base method.
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add method to NpmPackageManager to fime the time at which the first package version is created. (#460)
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/Model/PackageMetadata.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Ignore failing test in pipeline.
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml

Ignore failing test in pipeline. (#461)
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml

Start Migrate PR Pipeline to 1ES Templates
  Pipelines/core-pipeline.yml
  Pipelines/ossgadget-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Use dotnet build job
  Pipelines/ossgadget-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Disable PR runs on core-pipeline
  Pipelines/core-pipeline.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Partial Migrate Templates (#463)
  Pipelines/core-pipeline.yml
  Pipelines/ossgadget-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Update ossgadget-pr.yml
  Pipelines/ossgadget-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Remove stage dependency
  Pipelines/ossgadget-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Bump CodeQL action to v2.
  .github/workflows/codeql-analysis.yml
Due: none

Switch to tag for templates.
  Pipelines/ossgadget-pr.yml
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml
