Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Simplify console/file selector.
  src/Shared/OSSGadget.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Bump ApplicationInspector Dep
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-cryptography.yml

Bump Application Inspector, API changes for the new version.
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix #245 (output to console on full path) (#248)
  src/Shared/Helpers/OutputBuilder/SarifOutputBuilder.cs
  src/Shared/OSSGadget.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/DefoggerTool.cs
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/ReproducibleTool.cs
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix a few broken rules.
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
  src/oss-detect-backdoor/Resources/BackdoorRules/ioc.json
  src/oss-detect-backdoor/Resources/BackdoorRules/reverse_shell.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Fix a few broken rules. (#252)
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
  src/oss-detect-backdoor/Resources/BackdoorRules/ioc.json
  src/oss-detect-backdoor/Resources/BackdoorRules/reverse_shell.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Tweak backdoor rule confidence/severity.
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
  src/oss-detect-backdoor/Resources/BackdoorRules/ioc.json
  src/oss-detect-backdoor/Resources/BackdoorRules/lolbas.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
  src/oss-detect-backdoor/Resources/BackdoorRules/pastebin.json
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Improve text output of backdoor tool.
  src/oss-detect-backdoor/DetectBackdoorTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Move oss-gadget.log to current directory.
  src/Shared/nlog.config
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove tagsOnly (fixes #253)
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Renumber a few rules (dupliicates).
  src/oss-detect-backdoor/Resources/BackdoorRules/backdoor_signatures.json
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Update src/oss-characteristics/CharacteristicTool.cs
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

OSS Detect Backdoor Improvements (#254)
  src/Shared/nlog.config
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/backdoor_signatures.json
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
  src/oss-detect-backdoor/Resources/BackdoorRules/ioc.json
  src/oss-detect-backdoor/Resources/BackdoorRules/lolbas.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
  src/oss-detect-backdoor/Resources/BackdoorRules/pastebin.json
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Reduce console output for Characteristics.
  src/oss-characteristics/CharacteristicTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml

Clean up backdoor output, misc fixes.
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-health/HealthTool.cs
  src/oss-reproducible/ReproducibleTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-health.yml

Additional backdoor rules.
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Backdoor Rules / Output Cleanup (#255)
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-backdoor/Resources/BackdoorRules/dependency_confusion.json
  src/oss-health/HealthTool.cs
  src/oss-reproducible/ReproducibleTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-health.yml

Fix #256 (Github downloads extracted to wrong directory.
  src/Shared/PackageManagers/GitHubProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Increase DevSkim timeout from 2 to 30 seconds per file.
  src/oss-detect-cryptography/DetectCryptographyTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Improve oss-detect-cryptography output formatting (text/screen).
  src/oss-detect-cryptography/DetectCryptographyTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Update generic crypto terms rule.
  src/oss-detect-cryptography/Resources/CryptographyRules/implementation-crypto-generic.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Add list of common crypto libraries.
  src/oss-detect-cryptography/Resources/CryptographyRules/reference-common.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Add common crypto library references (#257)
  src/Shared/PackageManagers/GitHubProjectManager.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-detect-cryptography/Resources/CryptographyRules/implementation-crypto-generic.json
  src/oss-detect-cryptography/Resources/CryptographyRules/reference-common.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Trivial change to ping release.
  src/oss-download/DownloadTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-download.yml

Rerun release (#262)
  src/oss-download/DownloadTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-download.yml

Add IOCs from https://isc.sans.edu/diary/rss/27782
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Improve regex check.
  src/oss-detect-backdoor/Resources/BackdoorRules/data_exfiltration.json
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-backdoor.yml

Trim dependenceis.
  src/Shared/Shared.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

bump dependencies
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Bump recursive extractor
  src/Shared/Shared.csproj
  src/oss-defog/oss-defog.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Bump DevSkim
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-find-squats/oss-find-squats.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Bump deps
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Revert commandlineparser change
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update oss-detect-cryptography.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-detect-cryptography.yml

Bump dependencies once more
  src/Shared/Shared.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Call RecursiveExtractor's ExtractToDirectoryAsync
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Gfs/dependencies (#266)
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-domain-squats/oss-find-domain-squats.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update CS Proj
  src/Shared/Shared.csproj
  src/oss-characteristics/oss-characteristic.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-backdoor/oss-detect-backdoor.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-diff/oss-diff.csproj
  src/oss-download/oss-download.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-metadata/oss-metadata.csproj
  src/oss-reproducible/oss-reproducible.csproj
  src/oss-risk-calculator/oss-risk-calculator.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml
