Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

update some visibilities
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-metadata/MetadataTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml

Fix #199
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

More comments and visibility changes
  src/Shared/Helpers/OutputBuilder/OutputBuilderFactory.cs
  src/oss-characteristics/CharacteristicTool.cs
  src/oss-defog/DefoggerTool.cs
  src/oss-detect-backdoor/DetectBackdoorTool.cs
  src/oss-detect-cryptography/DetectCryptographyTool.cs
  src/oss-download/DownloadTool.cs
  src/oss-find-source/FindSourceTool.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/Generative.cs
  src/oss-health/BaseHealthAlgorithm.cs
  src/oss-health/HealthMetrics.cs
  src/oss-health/HealthTool.cs
  src/oss-metadata/MetadataTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add oss-diff
  src/OSSGadget.sln
  src/oss-diff/DiffTool.cs
  src/oss-diff/oss-diff.csproj
Due: Pipelines/core-pipeline.yml

Update oss-diff.csproj
  src/oss-diff/oss-diff.csproj
Due: Pipelines/core-pipeline.yml

Fix no options crash
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Change LangVersion and Nullable
  src/oss-diff/oss-diff.csproj
Due: Pipelines/core-pipeline.yml

Update DiffTool.cs
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Fix nullables
  src/Shared/PackageManagers/VSMProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix nullables
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

fix null issue in npmprojectmanager
  src/Shared/PackageManagers/NPMProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add context options
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Support NO_COLOR
  src/oss-diff/DiffTool.cs
  src/oss-diff/oss-diff.csproj
Due: Pipelines/core-pipeline.yml

Add Added/Removed only options
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Fix regression.
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Fix missing last newline in string builder
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add format and output to file options
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Add archive crawling
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Fix diffing non-archives.
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Fix possible null reference issue with output builder.
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Rewrite to output in standard diff format
  src/oss-diff/Diff.cs
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Output diffs in sequential order
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Only print color when printing to console.
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Fix diff output for added/removed
  src/oss-diff/Diff.cs
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

whitespace
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Fix state issue
  src/oss-diff/Diff.cs
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

fixes
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Response to feedback
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Support passing in Archives as well as package urls
  src/oss-diff/DiffTool.cs
Due: Pipelines/core-pipeline.yml

Add oss-diff (#201)
  src/OSSGadget.sln
  src/Shared/Helpers/OutputBuilder/StringOutputBuilder.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
  src/oss-diff/Diff.cs
  src/oss-diff/DiffTool.cs
  src/oss-diff/oss-diff.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

bump dependencies
  src/Shared/Shared.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

bump dependencies (#207)
  src/Shared/Shared.csproj
  src/oss-defog/oss-defog.csproj
  src/oss-detect-cryptography/oss-detect-cryptography.csproj
  src/oss-find-source/oss-find-source.csproj
  src/oss-find-squats/oss-find-squats.csproj
  src/oss-health/oss-health.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add Bit Flip generation
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Add More Squat Generators
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml

Fix bug in Vowel Swap
  src/oss-find-squats/Generative.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml
