Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/core-pipeline.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - template: templates/dotnet-test-job.yml
      parameters:
        projectPath: src/oss-tests/oss-tests.csproj
  - stage: SDL
    dependsOn: Test
    jobs:
    - template: templates/sdl-job.yml
      parameters:
  ...

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/nuget-pipelines/oss-characteristics.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-characteristics
        projectPath: oss-characteristics/oss-characteristics.csproj
  ...

Pipelines/nuget-pipelines/oss-detect-backdoor.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-detect-backdoor
        projectPath: oss-detect-backdoor/oss-detect-backdoor.csproj
  ...

Pipelines/nuget-pipelines/oss-diff.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-diff
        projectPath: oss-diff/oss-diff.csproj
        projectName: oss-diff
  ...

Pipelines/nuget-pipelines/oss-find-squats.yml:
  jobs:
  - template: ../templates/nuget-build-job.yml
    parameters:
      jobName: pack_oss_find_squats
      projectPath: src/oss-find-squats/oss-find-squats.csproj
      projectName: oss-find-squats
      publishToNuget: true

Pipelines/nuget-pipelines/oss-health.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-health
        projectPath: oss-health/oss-health.csproj
        projectName: oss-health
  ...

Pipelines/nuget-pipelines/oss-metadata.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-metadata
        projectPath: oss-metadata/oss-metadata.csproj
        projectName: oss-metadata
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

Fix publication (#271)
  Pipelines/nuget-pipelines/oss-find-squats.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Add signing
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Adds signing before nuget publish as required. (#272)
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Fix #274
  src/oss-download/DownloadTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-download.yml

Update DownloadTool.cs
  src/oss-download/DownloadTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-download.yml

Fix #274 (#275)
  src/oss-download/DownloadTool.cs
Due: Pipelines/core-pipeline.yml, Pipelines/oss-download.yml

Test different way to do pipeline to check paths
  Pipelines/core-pipeline.yml
  Pipelines/nuget-pipelines/oss-find-squats.yml
  Pipelines/templates/check-changes.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Try fix
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Update core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

try a different way
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Update check-changes.yml
  Pipelines/templates/check-changes.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Update nuget-build-job.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Disable sdl require for testing
  Pipelines/core-pipeline.yml
  Pipelines/templates/check-changes.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Split FindSquats into a lib.
  src/OSSGadget.sln
  src/oss-find-squats-lib/FindSquatResult.cs
  src/oss-find-squats-lib/Generative.cs
  src/oss-find-squats-lib/SquatChecker.cs
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/oss-find-squats.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Add way to skip certain generators for specific managers.
  src/oss-find-squats-lib/Generative.cs
Due: Pipelines/core-pipeline.yml

Update SquatChecker.cs
  src/oss-find-squats-lib/SquatChecker.cs
Due: Pipelines/core-pipeline.yml

Name step to try fix
  Pipelines/templates/check-changes.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Fix
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Add find-squats-lib nuget building.
  Pipelines/core-pipeline.yml
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Update oss-find-squats-lib.csproj
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
Due: Pipelines/core-pipeline.yml

Label nuget build job wit hthe project name
  Pipelines/templates/nuget-build-job.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Trigger shared on Pipelines change temporarily to ensure initial package gets published.
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Restore pipeline
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Add Tests and Nuget specific
  src/oss-find-squats-lib/Generative.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Removed some of the stuff I had written to align with what Gabe Stocco did in his PR: https://github.com/microsoft/OSSGadget/pull/277
  src/OSSGadget.sln
  src/oss-find-squats-lib/FindSquatResult.cs
  src/oss-find-squats-lib/SquatChecker.cs
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
  src/oss-find-squats/FindSquats.cs
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-find-squats/oss-find-squats.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-find-squats.yml

Fix build failures.
  src/Shared/Helpers/QwertyKeyboardHelper.cs
  src/Shared/Helpers/StringExtensions.cs
  src/Shared/Model/Mutators/AsciiHomoglyphMutator.cs
  src/Shared/Model/Mutators/CloseLettersMutator.cs
  src/Shared/Model/Mutators/DoubleHitMutator.cs
  src/Shared/Model/Mutators/UnicodeHomoglyphMutators.cs
  src/Shared/Model/Mutators/VowelSwapMutator.cs
  src/oss-find-squats/Generative.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Extension method refactor.
  src/Shared/Helpers/StringExtensions.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-find-squats-lib/Generative.cs
  src/oss-find-squats-lib/Mutators/AfterSeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/AsciiHomoglyphMutator.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/DuplicatorMutator.cs
  src/oss-find-squats-lib/Mutators/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/MutateOptions.cs
  src/oss-find-squats-lib/Mutators/Mutation.cs
  src/oss-find-squats-lib/Mutators/Mutator.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorMutator.cs
  src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-find-squats-lib/Mutators/SwapOrderOfLettersMutator.cs
  src/oss-find-squats-lib/Mutators/UnicodeHomoglyphMutators.cs
  src/oss-find-squats-lib/Mutators/VowelSwapMutator.cs
  src/oss-find-squats-lib/QwertyKeyboardHelper.cs
  src/oss-find-squats-lib/SquatChecker.cs
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
  src/oss-find-squats/FindSquatsTool.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: src, but not: src/RecursiveExtractor
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
