Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/core-pipeline.yml, Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/core-pipeline.yml: any of: Pipelines, src
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Add detection for comparison of two constants
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Adds more detections (#389)
  src/oss-detect-backdoor/Resources/BackdoorRules/backdoor_signatures.json
  src/oss-detect-backdoor/Resources/BackdoorRules/code_execution.json
  src/oss-detect-backdoor/Resources/BackdoorRules/obfuscation.json
  src/oss-detect-backdoor/Resources/BackdoorRules/pastebin.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-backdoor.yml

Update to PackageUrl 1.2.0
  src/Shared/Shared.Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update to PackageUrl 1.2.0 (#390)
  src/Shared/Shared.Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix some issues with the squat mutators (#391)
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/SubstitutionMutator.cs
  src/oss-find-squats-lib/Mutators/SwapOrderOfLettersMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Fix Docker build failures on Linux machines.
  src/oss-tests/Properties/Resources.resx
Due: Pipelines/core-pipeline.yml

Most tests were failing as the replace character would replace the character with itself sometimes, resulting in a squat that was equivalent to the original.
  src/oss-find-squats-lib/Mutators/ReplaceCharacterMutator.cs
Due: Pipelines/core-pipeline.yml

Checking for npm package version existence checks only one version
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/TestData/NPM/tslib_2.4.1.json
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Checking for pypi package version existence checks only one version
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Addressing PR comments.
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
  src/oss-find-squats-lib/Mutators/RemoveSeparatedSectionMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorChangedMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorRemovedMutator.cs
Due: Pipelines/core-pipeline.yml

Addressing comments about StringExtensions ReplaceAtStart and ReplaceAtEnd. Added tests as well.
  src/Shared/Helpers/StringExtensions.cs
  src/oss-tests/StringExtensionsTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve the typosquat mutators (#394)
  src/Shared/Helpers/StringExtensions.cs
  src/oss-find-domain-squats/FindDomainSquatsTool.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/AddCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/AsciiHomoglyphMutator.cs
  src/oss-find-squats-lib/Mutators/CloseLettersMutator.cs
  src/oss-find-squats-lib/Mutators/DoubleHitMutator.cs
  src/oss-find-squats-lib/Mutators/IMutator.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-find-squats-lib/Mutators/RemoveSeparatedSectionMutator.cs
  src/oss-find-squats-lib/Mutators/RemovedCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/ReplaceCharacterMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorChangedMutator.cs
  src/oss-find-squats-lib/Mutators/SeparatorRemovedMutator.cs
  src/oss-find-squats-lib/Mutators/SuffixMutator.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/StringExtensionsTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix Docker build failures on Linux machines. (#393)
  src/oss-tests/Properties/Resources.resx
Due: Pipelines/core-pipeline.yml

Remove GitVersioning from Shared, its implicitly included from Directory.Build.Props for the whole project
  src/Shared/Shared.Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove GitVersioning from Shared, its implicitly included from Directory.Build.Props for the whole project (#396)
  src/Shared/Shared.Lib.csproj
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added NuGet package manager and addressed comments
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Clean up
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update squat functionality to address bugs (#400)
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/DuplicatorMutator.cs
Due: Pipelines/core-pipeline.yml

Add clarifying comments
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Switch Substring for Take
  src/Shared/PackageManagers/BaseProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Improve oss-find-source for PyPI packages. (#399)
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixed NPM unit test
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/TestData/NPM/tslib_2.4.1.json
Due: Pipelines/core-pipeline.yml

Revert change for possible location properties
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Revert change for possible location properties (#401)
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Removed the wrong mutator from the BaseMutators. Meant to remove RemoveSeparatedSectionMutator, not SeparatorRemovedMutator.
  src/oss-find-squats-lib/MutateExtension.cs
Due: Pipelines/core-pipeline.yml

Removed the wrong mutator from the BaseMutators (#402)
  src/oss-find-squats-lib/MutateExtension.cs
Due: Pipelines/core-pipeline.yml

Fix failing unit test. ReplaceCharacterMutator shouldn't generate the same name with different casing.
  src/oss-find-squats-lib/Mutators/ReplaceCharacterMutator.cs
Due: Pipelines/core-pipeline.yml

Switch from comparing the mutated string, to just lowercasing the arg[i] when checking if the characters are the same.
  src/oss-find-squats-lib/Mutators/ReplaceCharacterMutator.cs
Due: Pipelines/core-pipeline.yml

Checking for NPM or PyPi package version existence checks only one version (#395)
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-find-squats-lib/Mutators/ReplaceCharacterMutator.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
Due: Pipelines/core-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add a NamespaceInName mutator that would mutate pkg:npm/%40angular/core to pkg:npm/angular-core, angular.core, angular_core, and angularcore.
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
  src/oss-find-squats-lib/Mutators/NamespaceInNameMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Add the ability to exclude mutators with a field in MutateOptions.
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/MutateOptions.cs
Due: Pipelines/core-pipeline.yml

Add the ability to exclude mutators, and added a new NamespaceInName mutator. (#403)
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/MutateOptions.cs
  src/oss-find-squats-lib/Mutators/MutatorType.cs
  src/oss-find-squats-lib/Mutators/NamespaceInNameMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Readd RemoveSeparatedSectionMutator, but removed it from the list of default NpmMutators.
  src/oss-find-squats-lib/MutateExtension.cs
Due: Pipelines/core-pipeline.yml

Fix issues where mutations would occur of just separators. ex: pkg:npm/q would create pkg:npm/. as a squat. Add test for it.
  src/oss-find-squats-lib/Mutators/IMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Fix bug where scoped npm packages would have the prefix added before the @. Added test case for it.
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Fix issue where mutations that were empty could be generated. Added tests to validate it. Fixed other test I wrote.
  src/oss-find-squats-lib/Mutators/IMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Switch from checking if the mutated name is a separator to using char.IsLetterOrDigit
  src/oss-find-squats-lib/Mutators/IMutator.cs
Due: Pipelines/core-pipeline.yml

Update DontMakeMutationsOfJustSeparators test to reflect the logic change.
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Addressing comments. Switching char casting to just accessing the index 0 of the string.
  src/oss-find-squats-lib/Mutators/IMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml

Fix some bugs (#404)
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-find-squats-lib/Mutators/IMutator.cs
  src/oss-find-squats-lib/Mutators/PrefixMutator.cs
  src/oss-tests/FindSquatsTests.cs
Due: Pipelines/core-pipeline.yml
