Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/nuget-pipelines/oss-characteristics.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-characteristics
        projectPath: oss-characteristics/oss-characteristics.csproj
  ...

Pipelines/nuget-pipelines/oss-detect-backdoor.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-detect-backdoor
        projectPath: oss-detect-backdoor/oss-detect-backdoor.csproj
  ...

Pipelines/nuget-pipelines/oss-diff.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-diff
        projectPath: oss-diff/oss-diff.csproj
        projectName: oss-diff
  ...

Pipelines/nuget-pipelines/oss-find-squats.yml:
  jobs:
  - template: ../templates/nuget-build-job.yml
    parameters:
      jobName: pack_oss_find_squats
      projectPath: src/oss-find-squats/oss-find-squats.csproj
      projectName: oss-find-squats
      publishToNuget: true

Pipelines/nuget-pipelines/oss-health.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-health
        projectPath: oss-health/oss-health.csproj
        projectName: oss-health
  ...

Pipelines/nuget-pipelines/oss-metadata.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-metadata
        projectPath: oss-metadata/oss-metadata.csproj
        projectName: oss-metadata
  ...

Pipelines/nuget-pipelines/oss-reproducible.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-reproducible
        projectPath: oss-reproducible/oss-reproducible.csproj
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

add nuget config for release pipeline
  Pipelines/core-pipeline.yml
  nuget.release.config
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

experiment moving test to separate project
  src/OSSGadget.sln
  src/Shared.CLI.IntegrationTests/Helpers/PackageDownloaderTests.cs
  src/Shared.CLI.IntegrationTests/IntegrationTestFactAttribute.cs
  src/Shared.CLI.IntegrationTests/Shared.CLI.IntegrationTests.csproj
Due: none

fix failing download test by using API for CPAN version info rather than parsing HTML
  src/OSSGadget.sln
  src/Shared.CLI/Helpers/PackageDownloader.cs
  src/Shared.Lib.Tests/Fakes/FakeHttpMessageHandler.cs
  src/Shared.Lib.Tests/PackageManagers/CPAN/CPANMetadataClientTests.cs
  src/Shared.Lib.Tests/Shared.Lib.Tests.csproj
  src/Shared/PackageManagers/CPAN/CPANMetadataClient.cs
  src/Shared/PackageManagers/CPAN/CPANVersionResponse.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

fix test by having PackageVersionExistsAsync respect use `useCache`
  src/Shared/PackageManagers/CargoProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

add custom attribute to conditionally skip tests in CI
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/SkipInADOFact.cs
Due: none

fix failing Cargo PackageVersionExistsAsync test (#512)
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/SkipInADOFact.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

add nuget config for release pipeline (#510)
  Pipelines/core-pipeline.yml
  nuget.release.config
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix failing download test by using API for CPAN version info rather than parsing HTML (#511)
  src/OSSGadget.sln
  src/Shared.CLI/Helpers/PackageDownloader.cs
  src/Shared.Lib.Tests/Fakes/FakeHttpMessageHandler.cs
  src/Shared.Lib.Tests/PackageManagers/CPAN/CPANMetadataClientTests.cs
  src/Shared.Lib.Tests/Shared.Lib.Tests.csproj
  src/Shared/PackageManagers/CPAN/CPANMetadataClient.cs
  src/Shared/PackageManagers/CPAN/CPANVersionResponse.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

run tests in both test projects
  Pipelines/core-pipeline.yml
  Pipelines/ossgadget-pr.yml
  src/OSSGadget.sln
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

run tests in both test projects (#513)
  Pipelines/core-pipeline.yml
  Pipelines/ossgadget-pr.yml
  src/OSSGadget.sln
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Add detect cryptography, defog, and find-squats to the CLI switch.
  src/oss-gadget-cli/OssGadgetCli.cs
Due: none

Add detect cryptography, defog, and find-squats to the CLI switch. (#515)
  src/oss-gadget-cli/OssGadgetCli.cs
Due: none

Enabled command-line trace option
  src/Shared.CLI/BaseTool.cs
  src/Shared.CLI/Options/BaseToolOptions.cs
  src/Shared.CLI/Tools/DownloadTool.cs
Due: none

Add SARIF output support for detect-cryptography command
  src/Shared.CLI/Tools/DetectCryptographyTool/DetectCryptographyTool.cs
Due: none

Refactor logging configuration and usage
  src/Shared.CLI/BaseTool.cs
  src/Shared.CLI/Options/BaseToolOptions.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CPANProjectManager.cs
  src/Shared/PackageManagers/CRANProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/CocoapodsProjectManager.cs
  src/Shared/PackageManagers/ComposerProjectManager.cs
  src/Shared/PackageManagers/GemProjectManager.cs
  src/Shared/PackageManagers/GolangProjectManager.cs
  src/Shared/PackageManagers/HackageProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/Shared/PackageManagers/VSMProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Embed Backdoor Rules and Refactor Analysis
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared.CLI/Tools/CharacteristicTool.cs
  src/Shared.CLI/Tools/DetectBackdoorTool.cs
Due: none

Downgrade F23.StringSimilarity package version
  src/Shared.CLI/Shared.CLI.csproj
Due: none

Downgrade F23.StringSimilarity package version
  src/Shared/Shared.Lib.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Disable Test stage in core-pipeline.yml
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Disable Test stage in core-pipeline.yml (#520)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Update NuGet dependencies to latest compatible versions (#519)
  .gitignore
  Directory.Build.props
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared.Lib.Tests/Shared.Lib.Tests.csproj
  src/Shared/Shared.Lib.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

refactor PR pipeline and remove accidental restores from public nuget
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

comment out pipeline artifact
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix version reference for .NET SDK install
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix variable reference
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix path to solution
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

use glob for solution path
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

try fix path to solution
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

debug build
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

remove target framework arg
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

set network isolation policy
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

try and fix nuget restore
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

comment out build and test to troubleshoot
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

add build task back
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

debug test task
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

increase log level for test task
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix project reference for unit test project
  src/Shared.Lib.Tests/Shared.Lib.Tests.csproj
Due: none

try removing Nerdbank.GitVersioning
  Directory.Build.props
  version.json
Due: none

Revert "try removing Nerdbank.GitVersioning"
  Directory.Build.props
  version.json
Due: none

Path conditions:
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
