Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/nuget-pipelines/oss-characteristics.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-characteristics
        projectPath: oss-characteristics/oss-characteristics.csproj
  ...

Pipelines/nuget-pipelines/oss-detect-backdoor.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-detect-backdoor
        projectPath: oss-detect-backdoor/oss-detect-backdoor.csproj
  ...

Pipelines/nuget-pipelines/oss-diff.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-diff
        projectPath: oss-diff/oss-diff.csproj
        projectName: oss-diff
  ...

Pipelines/nuget-pipelines/oss-find-squats.yml:
  jobs:
  - template: ../templates/nuget-build-job.yml
    parameters:
      jobName: pack_oss_find_squats
      projectPath: src/oss-find-squats/oss-find-squats.csproj
      projectName: oss-find-squats
      publishToNuget: true

Pipelines/nuget-pipelines/oss-health.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-health
        projectPath: oss-health/oss-health.csproj
        projectName: oss-health
  ...

Pipelines/nuget-pipelines/oss-metadata.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-metadata
        projectPath: oss-metadata/oss-metadata.csproj
        projectName: oss-metadata
  ...

Pipelines/nuget-pipelines/oss-reproducible.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-reproducible
        projectPath: oss-reproducible/oss-reproducible.csproj
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

specify project rather than sln for nuget-build-job template (#479)
  Pipelines/core-pipeline.yml
  src/oss-gadget-cli/oss-gadget-cli.csproj
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix name of oss-find-squats-lib proj
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix name of oss-find-squats-lib proj (#480)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix nuget pack error for missing icon
  src/oss-gadget-cli/icon-128.png
  src/oss-gadget-cli/oss-gadget-cli.csproj
Due: none

fix nuget pack error for missing icon (#481)
  src/oss-gadget-cli/icon-128.png
  src/oss-gadget-cli/oss-gadget-cli.csproj
Due: none

fix name of CLI archive
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix name of CLI archive (#482)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix path for Linux and macos signing
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix path for Linux and macos signing (#484)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix archive names OSSGadget_ to oss-gadget-cli_
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix archive names OSSGadget_ to oss-gadget-cli_ (#485)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix path for nuget release
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix path for nuget release (#486)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

remove references to deleted projects
  src/oss-tests/oss-tests.csproj
Due: none

remove references to deleted projects (#487)
  src/oss-tests/oss-tests.csproj
Due: none

add signing of nuget packages
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

add signing of nuget packages (#488)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Mock GetPackagesFromOwnerAsyncSucceeds_Async
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NPM/azure_packages.json
  src/oss-tests/TestData/NPM/jdalton_packages.json
  src/oss-tests/TestData/NPM/microsoft_packages.json
Due: none

Mock GetPackagesFromOwnerAsyncSucceeds_Async (#489)
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NPM/azure_packages.json
  src/oss-tests/TestData/NPM/jdalton_packages.json
  src/oss-tests/TestData/NPM/microsoft_packages.json
Due: none

Mock GetPackagesFromOwnerAsyncSucceeds_Async in PyPi tests
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/PyPI/microsoft_pypi_profile.html
Due: none

Mock GetPackagesFromOwnerAsyncSucceeds_Async in PyPi tests (#490)
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/PyPI/microsoft_pypi_profile.html
Due: none

fix variable name for nuget signing path
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix variable name for nuget signing path (#491)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Use MSTest runner + bump to latest
  Directory.Build.props
  src/oss-tests/oss-tests.csproj
Due: none

Workaround for ICM 595777915
  src/Shared/PackageManagers/CargoProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Cargo: Add logging around ICM 595777915 workaround
  src/Shared/PackageManagers/CargoProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add missing async
  src/Shared/PackageManagers/CargoProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

update API to fetch cargo metadata
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

removed version.json changes
  version.json
Due: none

revert version.json changes
  version.json
Due: none

Fetch published timestamp from cargo rss feed
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

update cargo package manager to fetch publishedtimestamp from non-ratelimited API.
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Cargo/cargo_rss_rand.xml
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

reverted version changes
  src/Shared/PackageManagers/CargoProjectManager.cs
  version.json
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Renamed tests
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: none

Fix cargo rss feed url
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Added documentation
  src/Shared/PackageManagers/CargoProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fixed tests
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
Due: none

Addressed PR comments
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/Contracts/IProjectManagerFactory.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Addressed PR comments
  src/Shared/Contracts/IProjectManagerFactory.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Path conditions:
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
