Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Path conditions:
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor

Addressed comments.
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update Cargo Package Manager to fetch publishedtimestamp and download uris from non-ratelimited API (#494)
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Cargo/cargo_rss_rand.xml
  version.json
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add missing MetadataTool and DetectBackdoorTool options in the CLI.
  src/oss-gadget-cli/OssGadgetCli.cs
Due: none

Add missing MetadataTool and DetectBackdoorTool options in the CLI. (#495)
  src/oss-gadget-cli/OssGadgetCli.cs
Due: none

Add changes to support upstream to maven google repo
  src/Shared/Model/Enums/MavenSupportedUpstream.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/Shared.Lib.csproj
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Maven/maven_appcompat_1.7.0_rc01.html
  src/oss-tests/TestData/Maven/maven_appcompat_all.html
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha3.html
  src/oss-tests/TestData/Maven/maven_core_all.html
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update Dependencies
  Directory.Build.props
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove duplicative nerdbank references in csprojs
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

PackageDependencyGroupConverter was removed from Nuget package
  src/Shared/Model/Metadata/NuGetPackageVersionMetadata.cs
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Address comments to remove puppeteersharp
  src/Shared/Model/Enums/MavenSupportedUpstream.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/Shared.Lib.csproj
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Maven/maven_appcompat_1.7.0_rc01.html
  src/oss-tests/TestData/Maven/maven_appcompat_all.html
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha2.aar
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha2.html
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha2.pom
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha3.html
  src/oss-tests/TestData/Maven/maven_core_all.xml
  src/oss-tests/TestData/Maven/maven_cose_20230908.html
  src/oss-tests/TestData/Maven/maven_cose_20230908.jar
  src/oss-tests/TestData/Maven/maven_cose_20230908.pom
  src/oss-tests/TestData/Maven/maven_cose_20230908_artifact_metadata.json
  src/oss-tests/TestData/Maven/maven_cose_all.html
  src/oss-tests/TestData/Maven/maven_cose_all.xml
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Roll back nuget version
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update Dependencies (#497)
  Directory.Build.props
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Model/Metadata/NuGetPackageVersionMetadata.cs
  src/Shared/Shared.Lib.csproj
  src/oss-find-squats-lib/oss-find-squats-lib.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update versions
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Update WebAssembly Dependency
  src/Shared.CLI/Shared.CLI.csproj
Due: none

Add coverage reporting to test execution
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Address comments to move away from upstream-specific implementation
  src/Shared/Model/Enums/MavenArtifactType.cs
  src/Shared/Model/Enums/MavenSupportedUpstream.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha2-sources.jar
  src/oss-tests/TestData/Maven/maven_core_all.html
  src/oss-tests/TestData/Maven/maven_core_all.xml
  src/oss-tests/TestData/Maven/maven_core_metadata.xml
  src/oss-tests/TestData/Maven/maven_cose_20230908-javadoc.jar
  src/oss-tests/TestData/Maven/maven_cose_20230908.html
  src/oss-tests/TestData/Maven/maven_cose_all.html
  src/oss-tests/TestData/Maven/maven_cose_all.xml
  src/oss-tests/TestData/Maven/maven_cose_metadata.xml
  src/oss-tests/TestData/Maven/maven_fluentui_listitem_0.0.8.html
  src/oss-tests/TestData/Maven/maven_fluentui_listitem_all.html
  src/oss-tests/TestData/Maven/maven_fluentui_listitem_metadata.xml
  src/oss-tests/TestData/Maven/maven_microsoft_fluentui_listitem_metadata.xml
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Use MSTest runner + bump to latest (#492)
  Directory.Build.props
  Pipelines/ossgadget-pr.yml
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
  src/oss-tests/oss-tests.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Remove package absolute URI implementation
  src/Shared/PackageManagers/MavenProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Address comments to add helper functions, exception handling, log messages
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Consolidate directory index strategy into single method
  src/Shared/PackageManagers/MavenProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Address comments
  src/Shared/Model/Enums/MavenArtifactType.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Pass exception to logger
  src/Shared/PackageManagers/MavenProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Bump Nuget packages
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Bump Nuget packages (#499)
  src/Shared.CLI/Shared.CLI.csproj
  src/Shared/Shared.Lib.csproj
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix Nuget Test Failures
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/oss-tests/Helpers/NuGetTestHelper.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix Nuget Test Failures (#500)
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/oss-tests/Helpers/NuGetTestHelper.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add NuGet v2 support for PowerShell Gallery
  src/Shared/Extensions/PackageUrlExtension.cs
  src/Shared/Model/Metadata/NuGetPackageVersionMetadata.cs
  src/Shared/Model/Metadata/NuGetV2PackageVersionMetadata.cs
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManagerV2.cs
  src/Shared/PackageManagers/NuGetProjectManagerV3.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/oss-tests/DownloadTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/Helpers/FindSquatsHelper.cs
  src/oss-tests/PackageUrlExtensionsTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerV2Tests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerV3Tests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NuGet/powershellgallery/powershell_gallery_v2.xml
  src/oss-tests/TestData/NuGet/powershellgallery/psreadline/psreadline.xml
  src/oss-tests/TestData/NuGet/powershellgallery/psreadline/psreadline_v2_4_1_beta.xml
  src/oss-tests/TestData/NuGet/powershellgallery/psreadline/versions.json
  src/oss-tests/TestData/NuGet/razorengine/index.json
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Rename NuGetProjectManager classes to maintain backwards compatability
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/BaseNuGetProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManagerV3.cs
  src/Shared/PackageManagers/NuGetV2ProjectManager.cs
  src/Shared/PackageManagers/ProjectManagerFactory.cs
  src/oss-find-squats-lib/MutateExtension.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/Helpers/FindSquatsHelper.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerV2Tests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerV3Tests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Address PR comments
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/BaseNuGetProjectManager.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerV2Tests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add test case for NuGetProjectManager creation
  src/Shared/Extensions/PackageUrlExtension.cs
  src/Shared/PackageManagers/BaseNuGetProjectManager.cs
  src/Shared/PackageManagers/CondaProjectManager.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/NuGetV2ProjectManager.cs
  src/Shared/PackageManagers/URLProjectManager.cs
  src/oss-tests/PackageUrlExtensionsTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerV2Tests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add tests for BaseNuGetProjectManager
  src/Shared/PackageActions/NuGetPackageActions.cs
  src/Shared/PackageManagers/BaseNuGetProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/oss-tests/ProjectManagerTests/BaseNuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerV3Tests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

publish test results to pipeline run
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

WIP migrate tests to xunit
  src/oss-tests/.editorconfig
  src/oss-tests/ArchiveHelperTests.cs
  src/oss-tests/DefoggerTests.cs
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/DownloadTests.cs
  src/oss-tests/FindSourceTests.cs
  src/oss-tests/FindSquatsTests.cs
  src/oss-tests/GlobalUsing.cs
  src/oss-tests/MetadataTests.cs
  src/oss-tests/PackageExistenceTests.cs
  src/oss-tests/PackageUrlExtensionsTests.cs
  src/oss-tests/ProjectManagerTests/CargoProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/CondaProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/GolangProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
  src/oss-tests/ProjectManagerTests/PyPIProjectManagerTests.cs
  src/oss-tests/ReproducibleTests.cs
  src/oss-tests/SharedTests.cs
  src/oss-tests/StringExtensionsTests.cs
  src/oss-tests/VersionTests.cs
  src/oss-tests/oss-tests.csproj
Due: none

fix tests broken by xunit migration
  Pipelines/ossgadget-pr.yml
  src/oss-tests/DefoggerTests.cs
  src/oss-tests/DetectCryptographyTests.cs
  src/oss-tests/ProjectManagerTests/ProjectManagerFactoryTests.cs
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Add changes to support upstream to maven google repo (#496)
  src/Shared/Model/Enums/MavenArtifactType.cs
  src/Shared/PackageManagers/MavenProjectManager.cs
  src/oss-tests/ProjectManagerTests/MavenProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha2-sources.jar
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha2.aar
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha2.html
  src/oss-tests/TestData/Maven/maven_core_1.0.0_alpha2.pom
  src/oss-tests/TestData/Maven/maven_core_metadata.xml
  src/oss-tests/TestData/Maven/maven_cose_20230908-javadoc.jar
  src/oss-tests/TestData/Maven/maven_cose_20230908.jar
  src/oss-tests/TestData/Maven/maven_cose_20230908.pom
  src/oss-tests/TestData/Maven/maven_cose_20230908_artifact_metadata.json
  src/oss-tests/TestData/Maven/maven_cose_metadata.xml
  src/oss-tests/TestData/Maven/maven_fluentui_listitem_0.0.8.html
  src/oss-tests/TestData/Maven/maven_fluentui_listitem_all.html
  src/oss-tests/TestData/Maven/maven_fluentui_listitem_metadata.xml
  src/oss-tests/TestData/Maven/maven_microsoft_fluentui_listitem_metadata.xml
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Address timezone issues with NuGet V2 PublishedTime not indicating which Kind it is.
  src/Shared/PackageManagers/NuGetV2ProjectManager.cs
  src/oss-tests/ProjectManagerTests/NuGetProjectManagerV2Tests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml
