Repository microsoft/OSSGadget: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/multiextractor-pipeline.yml, Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml, Pipelines/recursiveextractor-pipeline.yml

Pipelines/multiextractor-pipeline.yml:
  name: MultiExtractor_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: Test
    jobs:
    - job: build_test
      displayName: Run MultiExtractor Tests
      pool:
        vmImage: windows-latest
      steps:
      - task: UseDotNet@2
        inputs:
          packageType: sdk
          version: 3.1.x
  ...

Pipelines/nuget-pipelines/oss-characteristics.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-characteristics
        projectPath: oss-characteristics/oss-characteristics.csproj
  ...

Pipelines/nuget-pipelines/oss-detect-backdoor.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-detect-backdoor
        projectPath: oss-detect-backdoor/oss-detect-backdoor.csproj
  ...

Pipelines/nuget-pipelines/oss-diff.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-diff
        projectPath: oss-diff/oss-diff.csproj
        projectName: oss-diff
  ...

Pipelines/nuget-pipelines/oss-find-squats.yml:
  jobs:
  - template: ../templates/nuget-build-job.yml
    parameters:
      jobName: pack_oss_find_squats
      projectPath: src/oss-find-squats/oss-find-squats.csproj
      projectName: oss-find-squats
      publishToNuget: true

Pipelines/nuget-pipelines/oss-health.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-health
        projectPath: oss-health/oss-health.csproj
        projectName: oss-health
  ...

Pipelines/nuget-pipelines/oss-metadata.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-metadata
        projectPath: oss-metadata/oss-metadata.csproj
        projectName: oss-metadata
  ...

Pipelines/nuget-pipelines/oss-reproducible.yml:
  stages:
  - stage: Release
    condition: and(succeeded(), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    jobs:
    - template: templates/nuget-build-job.yml
      parameters:
        jobName: pack oss-reproducible
        projectPath: oss-reproducible/oss-reproducible.csproj
  ...

Pipelines/oss-characteristics.yml:
  name: OSSGadget_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r) $(project)
  extends:
    template: oss-core.yml
    parameters:
      project: $(project)

move nuget config to variable
  Directory.Build.props
  Pipelines/ossgadget-pr.yml
  src/OSSGadget.sln
  src/Shared.Lib.Tests/Shared.Lib.Tests.csproj
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

test removing project reference in tests
  src/Shared.Lib.Tests/PackageManagers/CPAN/CPANMetadataClientTests.cs
  src/Shared.Lib.Tests/Shared.Lib.Tests.csproj
Due: none

Revert "test removing project reference in tests"
  src/Shared.Lib.Tests/PackageManagers/CPAN/CPANMetadataClientTests.cs
  src/Shared.Lib.Tests/Shared.Lib.Tests.csproj
Due: none

try explicitly restoring and building test
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

remove duplicate restore (unnecessary)
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

use projects input rather than command line
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

remove FluentAssertions
  src/Shared.Lib.Tests/PackageManagers/CPAN/CPANMetadataClientTests.cs
  src/Shared.Lib.Tests/Shared.Lib.Tests.csproj
Due: none

try disable NuGetAudit
  Directory.Build.props
  nuget.config.azure
  src/OSSGadget.sln
Due: none

try more flags
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

comment out running tests
  Directory.Build.props
  Pipelines/ossgadget-pr.yml
  nuget.config.azure
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

go back to prior version of build task
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

refactor PR pipeline and remove accidental restores from public nuget
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

comment out pipeline artifact
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix version reference for .NET SDK install
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix variable reference
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

fix path to solution
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

use glob for solution path
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

try fix path to solution
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

debug build
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

remove target framework arg
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

set network isolation policy
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

try and fix nuget restore
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

comment out build and test to troubleshoot
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

add build task back
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Revert "debug build"
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

rework PR pipeline for network isolation (#523)
  Pipelines/ossgadget-pr.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

move pipelines to microsoft-sdl org
  Pipelines/core-pipeline.yml
  Pipelines/ossgadget-pr.yml
  nuget.config
  nuget.config.azure
  nuget.release.config
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

move pipelines to microsoft-sdl org (#524)
  Pipelines/core-pipeline.yml
  Pipelines/ossgadget-pr.yml
  nuget.config
  nuget.config.azure
  nuget.release.config
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

delete CodeCoverage directories to avoid binskim warnings
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

delete CodeCoverage directories to avoid binskim warnings (#525)
  Pipelines/core-pipeline.yml
Due: Pipelines/nuget-pipelines/oss-find-squats.yml

Disable unnecessary calls in GetPublishedAtAsync
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/CargoProjectManager.cs
  src/Shared/PackageManagers/NuGetProjectManager.cs
  src/Shared/PackageManagers/PyPIProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Disable unnecessary call for Nuget V2 metadata
  src/Shared/PackageManagers/NuGetV2ProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix Npm version parsing for version with build numbers.
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NPM/adguard_dnr_rulesets.json
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Add tests
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Addressed PR comments
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Fix Npm version parsing for version with build numbers. (#529)
  src/Shared/Contracts/IBaseProjectManager.cs
  src/Shared/PackageManagers/BaseProjectManager.cs
  src/Shared/PackageManagers/NPMProjectManager.cs
  src/oss-tests/ProjectManagerTests/NPMProjectManagerTests.cs
  src/oss-tests/Properties/Resources.Designer.cs
  src/oss-tests/Properties/Resources.resx
  src/oss-tests/TestData/NPM/adguard_dnr_rulesets.json
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

retry a fetch if the cache doesn't have the version
  src/Shared/PackageManagers/NPMProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

clean up code
  src/Shared/PackageManagers/NPMProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

improve comment
  src/Shared/PackageManagers/NPMProjectManager.cs
Due: Pipelines/nuget-pipelines/oss-characteristics.yml, Pipelines/nuget-pipelines/oss-detect-backdoor.yml, Pipelines/nuget-pipelines/oss-diff.yml, Pipelines/nuget-pipelines/oss-find-squats.yml, Pipelines/nuget-pipelines/oss-health.yml, Pipelines/nuget-pipelines/oss-metadata.yml, Pipelines/nuget-pipelines/oss-reproducible.yml, Pipelines/nuget-pipelines/oss-risk-calculator.yml, Pipelines/oss-characteristics.yml, Pipelines/oss-defog.yml, Pipelines/oss-detect-backdoor.yml, Pipelines/oss-detect-cryptography.yml, Pipelines/oss-download.yml, Pipelines/oss-find-source.yml, Pipelines/oss-health.yml, Pipelines/oss-risk-calculator.yml

Path conditions:
  Pipelines/multiextractor-pipeline.yml: any of: src/MultiExtractor
  Pipelines/nuget-pipelines/oss-characteristics.yml: any of: Pipelines/nuget-pipelines/oss-characteristics.yml, src/oss-characteristics, src/Shared
  Pipelines/nuget-pipelines/oss-detect-backdoor.yml: any of: Pipelines/nuget-pipelines/oss-detect-backdoor.yml, src/oss-detect-backdoor, src/Shared
  Pipelines/nuget-pipelines/oss-diff.yml: any of: Pipelines/nuget-pipelines/oss-diff.yml, src/oss-diff, src/Shared
  Pipelines/nuget-pipelines/oss-find-squats.yml: any of: Pipelines, src/oss-find-squats, src/Shared
  Pipelines/nuget-pipelines/oss-health.yml: any of: Pipelines/nuget-pipelines/oss-health.yml, src/oss-health, src/Shared
  Pipelines/nuget-pipelines/oss-metadata.yml: any of: Pipelines/nuget-pipelines/oss-metadata.yml, src/oss-metadata, src/Shared
  Pipelines/nuget-pipelines/oss-reproducible.yml: any of: Pipelines/nuget-pipelines/oss-reproducible.yml, src/oss-reproducible, src/Shared
  Pipelines/nuget-pipelines/oss-risk-calculator.yml: any of: Pipelines/nuget-pipelines/oss-risk-calculator.yml, src/oss-risk-calculator, src/Shared
  Pipelines/oss-characteristics.yml: any of: src/oss-characteristics, src/Shared
  Pipelines/oss-defog.yml: any of: src/oss-defog, src/Shared
  Pipelines/oss-detect-backdoor.yml: any of: src/oss-detect-backdoor, src/Shared
  Pipelines/oss-detect-cryptography.yml: any of: src/oss-detect-cryptography, src/Shared
  Pipelines/oss-download.yml: any of: src/oss-download, src/Shared
  Pipelines/oss-find-source.yml: any of: src/oss-find-source, src/Shared
  Pipelines/oss-health.yml: any of: src/oss-health, src/Shared
  Pipelines/oss-risk-calculator.yml: any of: src/oss-risk-calculator, src/Shared
  Pipelines/recursiveextractor-pipeline.yml: any of: src/RecursiveExtractor
